{{ partial "header.html" . }}

{{ .Content }}

{{/* partial "display" (partial "functions/get-word-info" "ausländisch") */}}

<!-- Get a new scratch. -->
{{ $s := newScratch }}

<!-- Get the content of the html file which is export of WorkFlowy. -->
{{ with .Page.Resources.GetMatch "*.html" }}

    <!--
        Clean up the vocabulary export:
        - delete line breaks
        - remove spaces between tags
        - remove first and last part
        - delete tags to be ignored
    -->
    {{ $wf := .Content | replaceRE "\r\n" "" | replaceRE ">\\s+<" "><" | replaceRE ".*<body><outline[^>]*>|<outline text=\"\\*[^>]+\" />|</outline></body></opml>" ""  }}

    <!-- Get all ending branches that are vocabulary words. -->
    {{ range findRE "<outline[^>]*_[^>]*/>" $wf }}
        {{ $wf = replace $wf . "" }}
        {{ $s.Add "tags" (slice .)}}
    {{ end }}

    {{ range seq 5 }}

        <!-- Get all vocabulary word lists. -->
        {{ range findRE "<outline text=\"\\*[^>]+\">(<outline[^>]*/>){0,}</outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ range findRE "<outline[^>]*/>" . }}
                {{ $s.Add "tags" (slice .)}}
            {{ end }}
        {{ end }}

        <!-- Get all vocabulary words with examples and without further branches. -->
        {{ range findRE "<outline[^>]*><outline text=\"\\*\">(<outline[^>]*/>){1,}(</outline>){2}|<outline text=\"[^>]*_\\s?\">(<outline[^>]*/>){1,}</outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ $s.Add "tags" (slice .)}}
        {{ end }}

        {{ range findRE "<outline text=\"[^>]*\"></outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ $s.Add "tags" (slice .)}}
        {{ end }}
    {{ end }}

    <!-- DEBUG -->
    {{ if $wf }}
        {{ errorf "I need more iterations to parse the vocabulary."}}
    {{ end }}

    {{ range $s.Get "tags" }}
        <!-- Get the initial text. -->
        {{ $text := . | replaceRE "\\A<outline text=\"(.*?)\".*" "$1"  }}

        {{ if not (findRE "\\A\\*" $text) }}
            {{ $s.SetInMap $text "text" $text }}

            <!-- Get the only example. -->
            {{ if in $text "_" }}
                {{ $example := $text | replaceRE ".*_\\s*" "" }}
                {{ with $example }}
                    {{ $s.Add "examples" (slice .) }}
                {{ end }}

                {{ $text = $text | replaceRE "\\s*_.*" "" }}
            {{ end }}

            <!-- Get the regex. -->
            {{ if in $text ":" }}
                {{ $regexes := $text | replaceRE ".*:\\s*" "" }}
                {{ with $regexes }}
                    {{ $s.Add "regexes" (split $regexes "|") }}
                {{ else }}
                    {{ errorf "In '%s', found no regexes despite there being a colon." }}
                {{ end }}

                {{ $text = $text | replaceRE "\\s*:.*" "" }}
            {{ end }}

            <!-- Get further examples. -->
            {{ $rest := . | replaceRE "\\A[^>]*>" "" }}
            {{ range findRE "<outline[^>\\*]*>" $rest }}
                {{ $example := . | replaceRE "\\A<outline text=\"(.*?)\".*" "$1"  }}
                {{ $s.Add "examples" (slice $example) }}
            {{ end }}

            <!-- DEBUG -->
            {{ $s.SetInMap $text "text" $text }}

            <!-- Add the examples to the map. -->
            {{ with $s.Get "examples" }}
                {{ $s.SetInMap $text "examples" . }}
                {{ $s.Delete "examples" }}
            {{ end }}

            <!-- Get the most basic version. -->
            {{ $basic := $text | replaceRE "\\A\\(sich\\) |\\Asich |\\Ader |\\Adie |\\Adas |\\Ader/die |\\Adas/der/die | \\(pl\\.\\)\\z|,\\s*-[^\\/]*|, –\\z|\\(.*?\\)" "" | replaceRE "/die |/das " "/" | replaceRE "\\A\\s+|\\s+\\z" "" }}
            {{ if not $basic }}
                {{ errorf "Could not find basic word for '%s'." $text }}
            {{ end }}
            <!-- TODO
                Find alternatives.
                Example: Viertel vor/nach zwei
                    $alt = "vor/nach"
                    split = [vor,nach]
                    Then replace "vor/nach" with "vor" or with "nach".
                Example: zum Beispiel/z. B.: zum Beispiel|z. B.
                    $basic = "zum Beispiel/z. B."
                    split = [zum Beispiel,z. B.]
            -->

            <!-- Add the variants to the map and to a variable. -->
            {{ $variants := slice }}
            {{ with (partial "functions/get-word-info" $basic).de }}
                {{ with .variants }}
                    {{ $variants = . }}
                    {{ $s.SetInMap $text "variants" . }}
                {{ end }}
                <!-- TODO add female version https://de.wiktionary.org/wiki/Teilnehmer -->
            {{ end }}

            <!-- DEBUG -->
            {{ with $s.Get "regexes" }}
                {{ range . }}
                    {{ if in $variants . }}
                        {{ errorf "No need to put '%s' in regexes of '%s', it's already a known variant." . $basic }}
                    {{ end }}
                {{ end }}
            {{ end }}

            <!-- Add variants to potential regexes. -->
            {{ $s.Add "regexes" $variants }}

            <!-- Calculate regexes. -->
            {{ range $s.Get "regexes" }}
                <!-- Transform dash into regex. -->
                {{ $reg := . | replaceRE "-\\z" ".+" }}

                <!-- Transform dot into regex but leave dot with asterisk or plus. -->
                {{ $reg = $reg | replaceRE "\\." "\\." | replaceRE " \\\\.\\*" "\\b.{0,20}" | replaceRE "\\\\.\\+" "[^\\s]+" }}

                <!--
                    Add word end signifier.
                    Does not work with umlauts.
                -->
                {{ if not (findRE "[öäüßé\\.]\\z" .) }}
                    {{ $reg = $reg | printf "%s\\b" }}
                {{ end }}
                {{ if not (findRE "\\A[ÄÖÜöäü]" .) }}
                    {{ $reg = $reg | print "\\b" }}
                {{ end }}

                {{ $s.Add "regs" (slice $reg) }}
            {{ end }}

            {{ $regex := print "(" (delimit ($s.Get "regs") "|") ")" }}
            {{ $s.SetInMap $text "regex" $regex }}
            {{ $s.Delete "regexes" }}
            {{ $s.Delete "regs" }}

            {{ $s.Add "vocab" (slice ($s.Get $text)) }}
        {{ end }}
    {{ end }}
{{ end }}

{{ $vocab := $s.Get "vocab" }}
{{ with $vocab }}
<p>{{ len . }} Vokabeln.</p>
{{ end }}

<h2>Setting</h2>
{{ $color := slice (dict "backgroundColor" "lightgreen") }}
{{ range $vocab }}
    {{ $s.SetInMap "setting" .regex $color }}
{{ end }}
<div style="margin-bottom: 30px;"><textarea rows="4" cols="50" data-role="none">"highlight.regexes": {{ jsonify ($s.Get "setting") }},</textarea></div>

<h2>Test</h2>
<div style="margin-bottom: 30px;"><textarea rows="4" cols="50" data-role="none">
{{- range $vocab -}}
    {{ index .variants 0 | replaceRE " \\.\\*" "" | replaceRE "-\\z" "foo" }}
{{ end -}}
</textarea></div>

{{ partial "footer.html" . }}