{{ partial "header.html" . }}

{{ .Content }}

<!-- Get a new scratch. -->
{{ $s := newScratch }}

<!-- Get the content of the html file which is export of WorkFlowy. -->
{{ with .Page.Resources.GetMatch "*.html" }}
    <!--
        Clean up the vocabulary export:
        - delete line breaks
        - remove spaces between tags
        - remove first and last part
        - delete tags to be ignored
    -->
    {{ $wf := .Content | replaceRE "\r\n" "" | replaceRE ">\\s+<" "><" | replaceRE ".*<body><outline[^>]*>|<outline text=\"\\*[^>]+\" />|</outline></body></opml>" ""  }}

    <!-- Get all ending branches that are vocabulary words. -->
    {{ range findRE "<outline[^>]*_[^>]*/>" $wf }}
        {{ $wf = replace $wf . "" }}
        {{ $s.Add "tags" (slice .)}}
    {{ end }}

    {{ range seq 4 }}

        <!-- Get all vocabulary word lists. -->
        {{ range findRE "<outline text=\"\\*[^>]+\">(<outline[^>]*/>){0,}</outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ range findRE "<outline[^>]*/>" . }}
                {{ $s.Add "tags" (slice .)}}
            {{ end }}
        {{ end }}

        <!-- Get all vocabulary words with examples and without further branches. -->
        {{ range findRE "<outline[^>]*><outline text=\"\\*\">(<outline[^>]*/>){1,}(</outline>){2}|<outline text=\"[^>]*_\\s?\">(<outline[^>]*/>){1,}</outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ $s.Add "tags" (slice .)}}
        {{ end }}

        {{ range findRE "<outline text=\"[^>]*\"></outline>" $wf }}
            {{ $wf = replace $wf . "" }}
            {{ $s.Add "tags" (slice .)}}
        {{ end }}
    {{ end }}

    <!-- DEBUG -->
    {{ if $wf }}
        <p>I need more iterations to parse the vocabulary, still got:<br>{{ partial "display" $wf }}</p>
    {{ end }}

    <!-- Analyze all tags. -->
    {{ range $s.Get "tags" }}
        <!-- Get the initial text. -->
        {{ $text := . | replaceRE "\\A<outline text=\"(.*?)\".*" "$1"  }}

        {{ if not (findRE "\\A\\*" $text) }}
            <!-- DEBUG -->
            {{ $s.SetInMap "vocab" "text" $text }}

            <!-- Get the only example. -->
            {{ if in $text "_" }}
                {{ with replaceRE ".*_\\s*" "" $text }}
                    {{ $s.Add "examples" (slice .) }}
                {{ end }}

                {{ $text = $text | replaceRE "\\s*_.*" "" }}
            {{ end }}

            <!-- Get the regex. -->
            {{ if in $text ":" }}
                {{ with replaceRE ".*:\\s*" "" $text}}
                    {{ $s.Add "regexes" (split . "|") }}
                {{ else }}
                    <p>In '{{ $text }}', found no regexes despite there being a colon.</p>
                {{ end }}

                {{ $text = $text | replaceRE "\\s*:.*" "" }}
            {{ end }}

            <!-- Get further examples. -->
            {{ $rest := . | replaceRE "\\A[^>]*>" "" }}
            {{ range findRE "<outline[^>\\*]*>" $rest }}
                {{ $example := . | replaceRE "\\A<outline text=\"(.*?)\".*" "$1"  }}
                {{ $s.Add "examples" (slice $example) }}
            {{ end }}

            <!-- DEBUG -->
            {{ $s.SetInMap "vocab" "vocab" $text }}

            <!-- Add the examples to the map. -->
            {{ with $s.Get "examples" }}
                {{ $s.SetInMap "vocab" "examples" . }}
            {{ end }}

            <!-- Get the most basic version. -->
            {{ $basic := $text | replaceRE "\\A\\(sich\\) |\\Asich |\\Ader |\\Adie |\\Adas |\\Ader/die |\\Adas/der/die | \\(pl\\.\\)\\z|,\\s*-[^\\/]*|, –\\z" "" | replaceRE "/die |/das |, –/" "/" | replaceRE "\\A\\s+|\\s+\\z" "" }}
            {{ if not $basic }}
                <p>Could not find basic word for '{{ $text }}'.</p>
            {{ end }}

            <!-- Add variants with and without content in brackets. -->
            {{ if and (in $basic " (") (in $basic "/") }}

                <!-- Replace the word before the bracket with the content in the bracket. -->
                {{ $alt := $basic | replaceRE "[A-ZÖÄÜa-zöäü]* \\((.*?)\\)" "$1" }}
                {{ $s.Add "nobr" (slice $alt) }}

            {{ else if in $basic "(" }}

                <!-- Remove brackets but not their content. -->
                {{ $s.Add "nobr" (slice (replaceRE "\\(|\\)" "" $basic)) }}

            {{ end }}
            <!-- Remove brackets and their content. -->
            {{ $s.Add "nobr" (slice (replaceRE "\\s*\\(.*?\\)" "" $basic)) }}

            <!-- Find alternatives.  -->
            {{ range $basic := $s.Get "nobr" }}
                {{ if findRE "[^ ]-\\z" . }}
                    <!-- DEBUG -->
                    {{ if or (in . "/") }}
                        <p>{{ . }} has dash at the end and also a slash.</p>
                    {{ end }}

                    <!-- Found matches like "lieb-: liebe|lieber", use the regex instead of "lieb-". -->
                    {{ with $s.Get "regexes" }}{{ $s.Add "alts" ($s.Get "regexes") }}{{ end }}

                    <!-- Transform dash into regex. -->
                    {{ $reg := . | replaceRE "-\\z" "[a-zéöäü]+" }}
                    {{ $s.Add "regexes" (slice $reg) }}

                    <!-- Get the variants from the examples. -->
                    {{ range $s.Get "examples" }}
                        {{ range findRE $reg . }}
                            {{ $s.Add "alts" (slice .) }}
                        {{ end }}
                    {{ end }}
                {{ else }}

                    {{ if in . "/" }}
                        {{ if in . "." }}<!-- it's an abbreviation -->
                            <!--
                                Example: zum Beispiel/z. B.
                                    split = [zum Beispiel,z. B.]
                            -->
                            {{ range split . "/" }}
                                {{ $s.Add "alts" (slice .) }}
                            {{ end }}
                        {{ else }}
                            <!--
                                Example: Viertel vor/nach zwei
                                    $both = "vor/nach"
                                    split = [vor,nach]
                                    Then replace "vor/nach" with "vor" or with "nach".
                                Exclude vocabs that are abbreviations or have regexes.
                            -->
                            {{ range $both := findRE "[^\\s]*/[^\\s]*" $basic }}
                                {{ range split . "/" }}
                                    {{ $alt := replace $basic $both . }}
                                    {{ $s.Add "alts" (slice $alt) }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ else }}
                        <!-- Just add it, nothing else to be done. -->
                        {{ $s.Add "alts" (slice .) }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $s.Delete "nobr" }}

            {{ range $alt := $s.Get "alts" }}
                <!-- Add the variants to the map and to a variable. -->
                {{ with (partial "functions/get-word-info" $alt).de }}
                    {{ range .variants }}
                        {{ $s.Add "variants" (slice .) }}
                    {{ end }}

                    <!-- Add female version. -->
                    {{ if in (index . "word classes") "Substantiv"}}
                        {{ range (index .entries 0).subentries }}
                            {{ if eq .header.de "Weibliche Wortformen" }}
                                {{ $female := .subentry | replaceRE "<[^>]*>|\\[.*?\\]\\s*|,.*" "" }}
                                {{ if not $female }}<p>#4: {{ $basic }}</p>{{ end }}
                                {{ with (partial "functions/get-word-info" $female).de }}
                                    {{ range .variants }}
                                        {{ $s.Add "variants" (slice .) }}
                                    {{ end }}
                                {{ end }}
                                {{ if not (in ($s.Get "variants") $female)}}
                                    {{ errorf "Something went wront with the female version of '%s'." $alt }}
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
            {{ $s.Delete "alts" }}

            {{ range $s.Get "regexes" }}
                <!-- Exclude certain words. -->
                {{ if findRE "\\A\\^" . }}
                    <!-- Word to be excluded. -->
                    {{ $excl := . | replaceRE "\\A\\^" "" }}

                    <!-- Remove word from variants. -->
                    {{ $v := $s.Get "variants" | complement (slice $excl (lower $excl)) }}
                    {{ $s.Set "variants" $v }}

                    <!-- Remove word from regexes. -->
                    {{ $s.Set "regexes" (complement (slice .) ($s.Get "regexes")) }}

                <!-- DEBUG -->
                {{ else if and (in ($s.Get "variants") .) (findRE "[^-]\\z" $basic) }}
                    <p>No need to put '{{ . }}' in regexes of '{{ $basic }}', it's already a known variant.</p>
                {{ end }}
            {{ end }}

            {{ $s.Set "variants" (uniq ($s.Get "variants")) }}

            <!-- Add variants to potential regexes. -->
            {{ $s.Add "regexes" ($s.Get "variants") }}

            <!-- Calculate regexes. -->
            {{ range $s.Get "regexes" }}
                <!-- Make it possible for words to be in between. -->
                {{ $reg := . | replaceRE "\\s+" " [^\\\\.\\\\?!:]*?" }}

                <!--
                    Add word end signifier.
                    Does not work with umlauts.
                -->
                {{ if findRE "[a-z]\\z" . }}
                    {{ $reg = $reg | printf "%s\\\\b" }}
                {{ end }}
                {{ if findRE "\\A[A-Za-z]" . }}
                    {{ $reg = $reg | print "\\\\b" }}
                {{ end }}

                {{ $s.Add "regs" (slice $reg) }}
            {{ end }}

            {{ $s.SetInMap "vocab" "variants" ($s.Get "variants") }}
            {{ $s.Delete "variants" }}

            {{ $regex := print "(" (delimit ($s.Get "regs") "|") ")" }}
            {{ $s.SetInMap "vocab" "regex" $regex }}
            {{ $s.Add "vocabs" (slice ($s.Get "vocab")) }}

            {{ $s.Delete "regexes" }}
            {{ $s.Delete "regs" }}
            {{ $s.Delete "examples" }}
            {{ $s.Delete "vocab" }}
        {{ end }}<!-- end if does not has a asterisk -->
    {{ end }}<!-- end ranging through tags -->
{{ end }}<!-- end with the vocabulary file -->

{{ with $vocabs := $s.Get "vocabs" }}
<p>{{ len . }} Vokabeln.</p>

<h2>Setting</h2>
{{ range $vocabs }}
    {{ $s.Add "regs" (slice .regex) }}
{{ end }}
{{ $s.Set "regs" (uniq ($s.Get "regs")) }}
{{ $l := sub (len ($s.Get "regs")) 1 }}
<div style="margin-bottom: 30px;"><textarea rows="4" cols="50" data-role="none">
    "highlight.regexes": { {{- range $i, $v := $s.Get "regs" }}
        "{{ . }}": [{
            "backgroundColor": "lightgreen"
        }]{{ if ne $i $l }},{{ end }}{{ end }}
    }
}</textarea></div>

<h2>Test</h2>
{{ range $vocabs }}
    {{ range .variants }}
        {{ $v := . | replaceRE "-\\z" "foo" }}
        {{ $s.Add "variants" (slice $v) }}
    {{ end }}
    {{ if not .variants }}<p>{{ partial "display" . }}</p>{{ end }}
    {{ $variants := $s.Get "variants" | uniq | sort }}
    {{ $s.Add "AllVariants" (slice (delimit $variants ". ")) }}
    {{ $s.Delete "variants" }}
{{ end }}
<div style="margin-bottom: 30px;"><textarea rows="4" cols="50" data-role="none">
{{- range sort (uniq ($s.Get "AllVariants")) -}}
    {{ . }}.
{{ end -}}
</textarea></div>
{{ end }}

{{ partial "footer.html" . }}