{{ $de_page := index (where .AllTranslations "Lang" "de") 0 | default . }}

{{ if ne $de_page.Lang "de" }}
    NO GERMAN AVAILABLE
{{ end }}

{{ with $de_page.Params.categories }}
    {{ range . }}
        {{ with  $.Site.GetPage (print "/categories/" .) }}
            {{ if eq "de" $.Lang }}
                TO DO: Edit layouts/_default/categories.html.
            {{ else }}
                <!-- Display both languages side by side. -->
                {{ $de_cat := index (where .AllTranslations "Lang" "de") 0 | default . }}

                {{ $merged := partial "languages-merger.html" (dict "first" $de_cat "second" .) | replaceRE "\n" "" }}

                <div class="notice cat" {{ with $de_cat.Params.id }} id="{{ . }}" {{ end }}>
                    <div class="title">{{ $de_cat.Title }} <span class="{{ $.Lang }} trans">({{ .Title }})</span></div>
                    <div class="content">

                    {{ with index (findRE "<p>.*?</p>" $merged) 1 }}
                        {{ $id := $de_cat.Title | replaceRE " " "-" }}

                        {{ replace $merged . (print "<input type='checkbox' data-role=none id=" $id "><label class=toggle for=" $id "><span lang=de>Klicke hier, um mehr zu erfahren.</span> <span lang=en class=trans>(Click here to find out more.)</span></label><div class=toggle>" .) | safeHTML }}
                         </div>
                    {{ else }}
                        {{ $merged | safeHTML }}
                    {{ end }}
                </div></div>
            {{ end }}
        {{ else }}
        <p>NO PAGE FOR CATEGORY "{{ . }}"</p>
        {{ end }}
    {{ end }}
{{ else }}
    NO CATEGORIES
{{ end }}



