{{ partial "header.html" . }}

{{ $depth := partial "functions/depth.html" . }}
{{ $title := partial "print-menu-title.html" . }}

<h2 class='section-title'>
    {{ if eq $depth 2 }}
        Class Curriculum
    {{ else if eq $depth 3 }}
        Lesson
    {{ else }}
        {{ partial "print-menu-title.html" . }}
    {{- end -}}
</h2>


{{ .Content }}


<!-- Lecture list on courses page (enrolled user) -->

<div class='row'>
{{ $de := index (where .Translations "Lang" "de") 0 | default . }}
{{ $sections := $de.Sections | default (slice $de) }}
{{ range $sections }}
    {{ $trans := index (where .AllTranslations "Lang" $.Lang) 0 }}

    <div class='course-section'>
        <div class='section-title'>
                <span class="section-lock">
                  <i class="fa fa-lock"></i>&nbsp;
                </span>
                <a href='{{ $trans.Permalink }}'>
                    {{ partial "print-menu-title.html" $trans }}  ({{ partial "functions/word-count.html" . }} words)
                </a>
              </div>
              <ul class='section-list'>
                {{ $sub := .Sections }}
                {{ if gt $depth 1 }}
                    {{ $sub = .Pages }}
                {{ end }}

                {{ range $sub }}
                  {{ $trans := index (where .AllTranslations "Lang" $.Lang) 0 }}
                  <li class='section-item incomplete' data-lecture-id="8878606">
                    <a class='item' data-no-turbolink='true' href='{{ $trans.Permalink }}'>
                      <span class='status-container'>
                        <span class='status-icon'>
                          &nbsp;
                        </span>
                      </span>
                      <div class='title-container'>
                        <div class='btn-primary btn-sm pull-right'>
                          Start
                        </div>
                        {{ if .Params.audio }}
                        <span class="lecture-icon">
                            <i class="fa fa-volume-up"></i>
                        </span>
                        {{ else }}
                        <span class='lecture-icon'>
                            <i class='fa fa-file-text'></i>
                        </span>
                        {{ end }}
                        <span class='lecture-name'>
                          {{ partial "print-menu-title.html" $trans }} ({{ partial "functions/word-count.html" . }} words)
                        </span>
                      </div>
                    </a>
                  </li>
                {{ end }}
              </ul>
            </div>
{{ end }}
</div>

{{ if and (eq .Type "courses") (gt (partial "functions/depth.html" .) 1) }}
<p>
  {{ $vocab := .Site.Data.a1_vocab }}

  {{ $learned := partial "functions/words-learned.html" $de }}
  Learned words: {{ $learned }}
</p>

<p>
  {{ $left := dict }}
  {{ $.Scratch.Set "left" $left }}
  {{ range $word, $count := $vocab }}
    {{ $result := index $learned $word | default 0 | sub $count | int }}
    {{ if gt $result 1 }}
      {{ $.Scratch.SetInMap "left" $word $result }}
    {{ end }}
  {{ end }}
  Left to use: {{ $left }}
</p>
{{ end }}

{{ partial "footer.html" . }}