{{ partial "header.html" . }}

{{ $de := index (where .Translations "Lang" "de") 0 | default . }}
{{ if eq .Type "courses"}}
  {{ $content := partial "content-teachable.html" . }}

  {{ if and (not $de.Draft) (not .Draft) .Site.Params.showCopyableHTML  }}<!-- (not .Site.IsServer) TODO still show if it's an email -->
    {{ $targetPath := print "teachable" .RelPermalink "de.html" }}
    {{ $minified := $content | resources.FromString $targetPath | minify }}
    {{ $js := partial "functions/scripts.html" .Page }}
    <div style="margin-bottom: 30px;"><textarea rows="4" cols="50" data-role="none">{{ $minified.Content }}<script defer src="{{ $js.Permalink }}"></script></textarea></div>
  {{ end }}

  {{ $content | safeHTML }}
{{ else }}

  {{ $de.Content }}

  <hr>

  {{ .Content }}

{{ end }}

{{ partial "footer.html" . }}