{{ partial "header.html" . }}

{{ $content := partial "content-teachable.html" . }}

{{ if .Site.Params.showCopyableHTML }}
  {{ $targetPath := print "html" .RelPermalink "de.html" }}
  {{ $minified := $content | resources.FromString $targetPath | minify }}
  {{ $js := partial "functions/scripts.html" .Page }}
  <div style="margin-bottom: 10px;"><textarea rows="4" cols="50" data-role="none">{{ $minified.Content }}<script defer src="{{ $js.Permalink }}"></script></textarea></div>
{{ end }}

{{ $content | safeHTML }}

{{ partial "footer.html" . }}