{{ partial "header.html" . }}

<!-- TODO
  - improve js: spp
    - let it take the mp3 that's already there
  - improve js: jquery mobile
    - close on clicking outside
    - don't jump to top on click
  - improve js: jquery
  - improve js: supporting js
  - rename this file single.html and check if it's teachable content page, e-mail or whatever.
  - import data from English Wiktionary
  - set up so that I can browse through everything
-->

{{ $content := partial "teachable-content.html" . }}

{{ if .Site.Params.showCopyableHTML }}
  {{ $targetPath := print "html" .RelPermalink "de.html" }}
  {{ $minified := $content | resources.FromString $targetPath | minify }}
  <div style="margin-bottom: 10px;"><textarea rows="4" cols="50" data-role="none">{{ $minified.Content }}</textarea></div>
{{ end }}

{{ $content | safeHTML }}

{{ partial "footer.html" . }}