/*************************
* General                *
*************************/

/*
 * A spinning loading animation that takes up all of the screen until removed when script is finished.
 */
 #loading {
	margin: 10% auto 200% auto;
	width: min-content;
	display: none; /* TODO delete */
}

* {
	font-family: Larsseit, Manrope, Helvetica, sans-serif;
}
p {
	text-justify: auto;
	text-align: justify;
}

#word-count {
	color: #808080;
	text-align: right;
	margin-top: -30px;
}

.info {
}

/*
 * Make text more visible. This is what Teachable should be doing.
 * Also, reset font color for highlighted text.
 */
.lecture-attachment p,
div.notice,
h1, h2, h3, h4, h5,
body.show-important .main .important, body.show-important .main .checked,
body.show-genders .main .m, body.show-genders .main .f, body.show-genders .main .n {
	color: #000; /*#2b3636*/
	margin-bottom: 5px;
}
body {
	/* font-size: 1em; */
	font-size: 16px;
	line-height: 1.3;
}

/*
 * Stylize words that have audio or are link to popup.
 */
a.word-info,
.audio-available {
	/* Make it look like normal text. */
	color: inherit;
	text-decoration: initial;
	margin: 0;
	cursor: pointer;
}
a.word-info {
	/*  Show question mark on mouse pointer to make user click. */
	cursor: help;
}

/*
 * Show the (English) translation in a different color.
 */
.trans {
	color: #ffa600; /* when shown */
}
body.hide-trans .ui-popup-container .trans,
body.hide-trans #rest .trans {
	display: none; /* remove in popups, toggles, explanation */
}
body.hide-trans #lecture_heading .trans,
body.hide-trans #unit .trans {
	visibility: hidden; /* hide but reserve the space */
}

/*
 * Highlight certain words based on selection.
 */

/* Important words. */
body.show-important .main .important {
    background-color: #ffff65;
	outline: 2px solid #ffff65;
}
body.show-important .main .checked {
    background-color: #65ff65;
	outline: 2px solid #65ff65;
}

/* Genders */
body.show-genders .main .m {
	background-color: #b4b9ff;
	outline: 2px solid #b4b9ff;
}
body.show-genders .main .f {
	background-color: #ffb9b9;
	outline: 2px solid #ffb9b9;
}
body.show-genders .main .n {
	background-color: #c5ffb4;
	outline: 2px solid #c5ffb4;
}

/* Word classes */
body.show-wc.Substantiv-enabled .main a.Substantiv {
	background-color: #ff6565;
	outline: 2px solid #ff6565;
}
body.show-wc.Verb-enabled .main a.Verb {
	background-color: #6a74fa;
	outline: 2px solid #6a74fa;
}
body.show-wc .main a.wc-other {
	background-color: #89ff65;
	outline: 2px solid #89ff65;
}

/* Make words with multiple reasons to highlight bold. */
body.show-important .main a.important.checked,
body.show-wc.Substantiv-enabled .main a.Substantiv.wc-other,
body.show-wc.Verb-enabled .main a.Verb.wc-other {
	font-weight: 700;
}

/*
 * Only show the explanation of the feature that is selected.
 */
body.show-genders #show-important-expl,
body.show-wc #show-important-expl,
body.show-important #show-genders-expl,
body.show-wc #show-genders-expl,
body.show-important #show-wc-expl,
body.show-genders #show-wc-expl {
	 display: none;
 }

/*
 * Make the disclaimer small.
 */
 p.disclaimer {
    margin-top: 25px;
    padding-bottom: 60%;
    text-align: center;
    font-size: smaller;
}

/*
 * Wiktionary Image
 */
.thumbinner {
	float: left;
	width: min-content;
}

img.thumbimage {
	margin: 0 2px;
	display: block;
	border: 1px solid #a2a9b1;
}

div.thumbcaption > p {
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

/*
 * Wiktionary Table
 */

.wikitable {
	float: right;
	margin: 8px;
	border-collapse: collapse;
}
.trans .wikitable {
	float: none;
}
.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: #eaecf0;
	text-align: center;
	vertical-align: middle;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
	padding: 0.5rem;
}

.non-text::after {
	content: "";
	clear: both;
	display: table;
}

/*
 * Info Table
 */
.infotable {
	width: 100%;
    border: 1px solid #a2a9b1;
    background-color: #eaecf0;
    font-size: 95%;
    text-align: center;
}

/*
 * Adjustment for English Entry
 */
.ui-bar h5 {
    margin: 0;
    padding: .7em 1em;
    font-size: 16px;
    color: #fff;
}
.trans h6 {
	font-size: 20px;
}

/* Underline words without spaces (which would mess up our program). */
.ul {
	text-decoration: underline;
}

/*
 * Disable a warning that tells the user that the CSS was not loaded, and the jQueryMobile loader.
 */
#nocss-warning, .ui-loader {
	display: none;
}

