/*
 * Make text more visible.
 * This is what Teachable should be doing.
 */
p, h1, h2, h3, h4, h5 {color: #2b3636}

/*
 * Stylize words that have audio or are link to popup.
 */
a.word-info,
.audio-available {
	/* Make it look like normal text. */
	color: inherit;
	text-decoration: initial;
	margin: 0;
}
a.word-info {
	/*  Show question mark on mouse pointer to make user click. */
	cursor: help;
}

/*
 * Show the (English) translation in a different color.
 */
.trans {
	color: #ffa600; /* when shown */
}
body.hide-trans .trans {
	visibility: hidden; /* hide but reserve the space */
}
body.hide-trans .ui-popup-container .trans {
	display: none; /* remove in popups */
}

/*
 * Highlight certain words based on selection.
 */
/* Important words. */
body.show-important .important {
    background-color: #ff0;
}
body.show-important .checked {
    background-color: #0f0;
}
/* Genders */
body.show-genders .noun-m {
	background-color: #b4b9ff;
}
body.show-genders .noun-f {
	background-color: #ffb9b9;
}
body.show-genders .noun-n {
	background-color: #c5ffb4;
}
/* Word classes */
body.show-wc.Substantiv-enabled a.Substantiv {
	background-color: #ffb9b9;
}
body.show-wc.Verb-enabled a.Verb {
	background-color: #b4b9ff;
}
body.show-wc a.wc-other {
	background-color: #ff0;
}
/* Make words with multiple reasons to highlight bold. */
body.show-important a.important.checked,
body.show-wc.Substantiv-enabled a.Substantiv.wc-other,
body.show-wc.Verb-enabled a.Verb.wc-other {
	font-weight: 700;
}

/*
 * Only show the explanation of the feature that is selected.
 */
 body.show-genders #show-important-expl,
 body.show-wc #show-important-expl,
 body.show-important #show-genders-expl,
 body.show-wc #show-genders-expl,
 body.show-important #show-wc-expl,
 body.show-genders #show-wc-expl {
	 display: none;
 }

/*
 *
 *
 */


/*
 * A spinning loading animation that takes up all of the screen until removed when script is finished.
 */
 #loading {
	margin: 10% auto 200% auto;
	width: min-content;
}

/*
 * Disable a warning that tells the user that the CSS was not loaded.
 */
#nocss-warning {
	display: none;
}



/*


input#show-trans {
    display: none;
}



table {
	width: auto;
}

div.caption {
	margin-bottom: 10px;
}




.ui-popup-container, .ui-popup {
	/*width: 95% !important;
	left: 1% !important;
}

.ui-checkbox {
	margin: 0;
}

#show-trans-cb {
	/*
	position:  fixed;
    top: 46px;
	left:  0;
	width: 100%;

	min-width: 33%;
}
label#show-trans-label {
	border-radius: 0;
	/*
	margin-left: 349px;

	text-align: center;
	height: 46px;
}
#show-trans-label img {
    padding-right: .5em;
    margin-top: -.5em;
}




div.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}



.ui-btn-active .trans {
	color: #ff0;
}

/*
div.ui-popup {
	padding: 0 1em;
}

div.ui-flipswitch {
	width: 300px !important;
}

.ui-popup-container, .ui-popup {
    height: 98%;
    width: 99%;
    position: absolute;
    top: 0;
    left:0;
}*/

/*

p {
	line-height: 1.3 !important;
}

.lecture-hl a.nav-btn {
	margin: 0;
	background-color: #FF8000;
}


p.disclaimer {
    margin-top: 25px;
    text-align: center;
    font-size: smaller;
}

/* Wiktionary Image
	width: min-content;

.thumbinner {
	float:left;
}

img.thumbimage {
	margin: 0 auto;
	display: block;
	border: 1px solid #a2a9b1;
}

div.thumbcaption > p {
	text-align: center;
	margin-bottom: 8px;
	margin-top: 8px;
}
*/



/*
 * Wiktionary Table
 */

.wikitable {
	float: right;
	margin: 8px;
	border-collapse: collapse;
}
.wikitable > tr > th, .wikitable > * > tr > th {
    background-color: #eaecf0;
	text-align: center;
	vertical-align: middle;
}
.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
    border: 1px solid #a2a9b1;
	padding: 0.5rem;
}