<!-- The word we are looking for. -->
{{ $word := . }}

<!-- Initialize output variables. -->
{{ $html  := "" }}
{{ $audio := "" }}
{{ $word_classes := slice }}
{{ $basic_form := "" }}

<!-- Check if entry is cached. -->
{{ $path_html := print "assets/html/wiktionary/" $word "_html.html" }}
{{ $path_data := print "assets/html/wiktionary/" $word "_data.html" }}
{{ $rebuild := true }}

{{ if and (not $rebuild) (fileExists $path_html) (fileExists $path_data) }}
    {{ $html = readFile $path_html }}

{{ else }}

    <!-- Get HTML from cache or from Wiktionary. -->
    {{ $raw := "" }}
    {{ $path_raw := print "assets/html/wiktionary/" $word "_raw.html" }}
    {{ if fileExists $path_raw }}
        {{ $raw = readFile $path_raw }}
    {{ else }}
        <!-- Get JSON from Wiktionary. -->
        {{ $json := getJSON (print "https://de.wiktionary.org/w/api.php?action=parse&format=json&prop=text&disabletoc=true&page=" $word) }}

        <!-- Cache the result. -->
        {{ with $json.parse  }}
            {{ $cache := index .text  "*" | resources.FromString (print "wiktionary/" $word "_raw.html") | minify }}

            {{ $raw = $cache.Content }}
        {{ else }}
            {{/* errorf "Could not access $json.parse.text.* for %s." $word */}}
        {{ end }}
    {{ end }}

    <!-- Analyse the German entry. -->
    {{ range split $raw "<h2" }}{{ if in . (print "id=" $word "_(Deutsch)") }}

        <!-- Fast lookup for gender abbreviations. -->
        {{ $gender_map := dict "m" "männlich" "f" "weiblich" "n" "sächlich" }}
        {{ $article_map := dict "m" "der " "f" "die " "n" "das " }}

        <!-- Initialize gender variables. -->
        {{ $gender := "" }}
        {{ $article := "" }}

        <!-- Analyse each word classes entry. (First in split is rubbish.) -->
        {{ range $num_wc, $k := split (replaceRE "\n" "" .) "<h3" }}{{ if ne $num_wc 0 }}

            <!-- Check which word classes are named in the header, then:
                - clean
                - tranform emphasis into brackets
                - transform slashes into commas
            -->
            {{ $wc_header := . | replaceRE "</h3>.*|\\A>|<span.*?>|</span>|<a.*?>|</a>|\\[.*" "" | replaceRE "<em.*?>|<i>" "(" | replaceRE "</em>|</i>" ")" | replaceRE "/" ", " }}

            <!--
                Interjektion, Grußformel
                Substantiv, <em title="Genus: Femininum (grammatikal. Geschlecht: weiblich)">m/f/n</em>
                Substantiv, <em title="Genus: Neutrum (grammatikal. Geschlecht: sächlich)">n</em>, Toponym
            -->

            <!-- Initialize word class variables. -->
            {{ $wc_infos := slice }}
            {{ $wc_infos_i18n := slice }}

            {{ $isInfo := false }}
            {{ range split $wc_header ", " }}
                {{ $info := . }}
                {{ $info_i18n := "" }}

                <!-- Check if a bracket was just opened. -->
                {{ if in . "(" }}{{ $isInfo = true }}{{ end }}

                {{ if $isInfo }}
                    <!-- Remove brackets. -->
                    {{ $info = . | replaceRE "\\(|\\)" ""  }}

                    <!-- Check if the info is which gender a noun has. -->
                    {{ with index $gender_map $info }}
                        <!-- Initialize gender variables but don't overwrite them. -->
                        {{ if not $gender }}
                            {{ $gender = $info }}
                            {{ $word_classes = $word_classes | append $info }}
                            {{ $article = index $article_map $info }}
                        {{ end }}

                        {{ $info = . }}<!-- write out -->
                    {{ end }}

                    {{ $info_i18n = i18n $info }}

                    <!-- Add the brackets back in. -->
                    {{ $info = print "(" $info ")" }}
                    {{ $info_i18n = print "(" $info_i18n ")"}}
                {{ else }}
                    <!-- Add the word class to a list to use as css classes. -->
                    {{ $word_classes = $word_classes | append $info }}

                    {{ $info_i18n = i18n . | title }}
                {{ end }}

                {{ $wc_infos = $wc_infos | append $info }}
                {{ $wc_infos_i18n = $wc_infos_i18n | append $info_i18n }}

                <!-- Check if a bracket was just closed. -->
                {{ if in . ")" }}{{ $isInfo = false }}{{ end }}
            {{ end }}

            <!-- Write out and correct formating errors. -->
            {{ $wcs := delimit $wc_infos ", " | replaceRE ", \\(" " (" | replaceRE "\\) \\(|\\), \\(" ", " }}
            {{ $wcs_i18n := delimit $wc_infos_i18n ", " | replaceRE ", \\(" " ("  | replaceRE "\\) \\(|\\), \\(" ", " }}

            {{ $html_wc_name := print "<span lang=de class=de>" $wcs  "</span><br><span lang=en class=\"en trans\">" $wcs_i18n "</span>" }}

            {{ if eq $num_wc 1 }}

                <!-- Get the translation. -->
                {{ if in . "<li><a href=/wiki/Englisch title=Englisch>Englisch</a>: "}}
                    <!-- Clean up the translation -->
                    {{ $trans := . | replaceRE ".*<li><a href=/wiki/Englisch title=Englisch>Englisch</a>: |</li>.*|<sup>.*?</sup>|<.*?>|&#160;|\\(.*?\\) " "" }}

                    <!-- Remove the brackets if there is only one meaning. -->
                    {{ if eq (len (findRE "\\[" $trans)) 1}}
                        {{ $trans = $trans | replaceRE "\\[.*?\\] " "" }}
                    {{ end }}

                    <!-- Make breaks instead of semicolons. -->
                    {{ $trans = $trans | replaceRE "; " "<br>" }}

                    <!-- Add the word as a big header before the first entry. -->
                    {{ $html = print $html "<h2><span lang=de class=de>" $article $word "</span><br><span lang=en class=\"en trans\">" $trans "</span></h2>" }}
                {{ else }}
                    {{ $html = print $html "<h2>" $article $word "</h2>" }}
                {{ end }}

            {{ end }}

            <!-- Now analyse everything under the header. -->
            {{ $rest := . | replaceRE ".*</h3>" "" }}
            {{ $html_wc := "" }} <!-- This will be the html describing the word for the current word class. -->

            <!-- Transform the bold headers into real headers. -->
            {{ $rest = $rest | replaceRE "<p><span style=visibility:hidden.*?</span></p><div .*?>(.*?):</div>" "<h4>$1</h4>" }}
            {{ $rest = $rest | replaceRE "<p style=margin-bottom:-.5em><b>(.*?):</b></p>" "<h4>$1</h4>" }}

            <!-- Analyse the content before the entry, like tables and images. -->
            {{ $pre := $rest | replaceRE "<h4>.*" "" }}

            <!-- Get images, if present. -->
            {{ $html_image := "" }}
            {{ range findRE "<div class=thumbinner.*?</div></div>" $pre }}
                <!-- Extract the image and caption. -->
                {{ $img := . | replaceRE ".*(<img.*?>).*" "$1" }}
                {{ $caption := . | replaceRE ".*</div>(.*?)</div></div>" "$1" }}

                <!-- Get an alt value for the image from the caption. -->
                {{ $alt := $caption | replaceRE "<.*?>|\\[.*\\] " "" }}
                {{ $img = $img | replaceRE " alt " (print " alt=\"" $alt "\" ") }}

                <!-- Get the width of the image. -->
                {{ $width := $img | replaceRE ".* width=([0-9]*).*" "$1" }}

                <!-- Construct html. -->
                {{ $html_image = print $html_image "<div class=\"thumbinner\">" $img "<div class=\"thumbcaption\" style=width:" $width "px><p>" $caption "</p></div></div>" }}
            {{ end }}

            <!-- Get the table, if present.  -->
            {{ $html_table := "" }}
            {{ range findRE "<table.*?wikitable.*?.*?</table>" $pre }}
                <!-- Clean up the table html. -->
                {{ $table := . | replaceRE "<a.*?>|</a>|<p class=mw-empty-elt></p>| class=\".*?\"| style=\".*?\"| class=([^ >])*| style=([^ >])*" "" | replaceRE "<table>" "<table class=wikitable>" }}

                <!-- Translate header cells. -->
                {{ range findRE "<th.*?</th>" $table }}
                    {{ $th   := . | replaceRE "(<th.*?>).*" "$1" }}
                    {{ $cell := . | replaceRE "<th.*?>|</th>|<div>|</div>|<span.*?>|</span>" "" | replaceRE "&#160;" " " }}

                    {{ $cell_trans := $cell }}

                    {{ if and $cell (ne $cell "—") }}
                        {{ if in $cell "<i>"}}
                            <!-- Show link to Flexion:... -->
                            {{ $cell = $cell | replaceRE "(Flexion:.*)" "<a href=\"https://de.wiktionary.org/wiki/$1\" target=\"_blank\">$1</a>" }}

                            <!-- Translate only the cursive. -->
                            {{ $inner_i18n := index (findRE "<i>.*?</i>" $cell) 0 | replaceRE "<i>|</i>" "" | i18n }}
                            {{ $cell_trans := $cell | replaceRE "<i>.*?</i>" (print "<i>" $cell "</i>") }}

                        {{ else if gt (len (findRE "\\ASingular" $cell)) 0 }}<!-- must be in the beginning -->
                            <!-- for Singular 1, Singular 2, Singular <i>m</i> etc. -->
                            {{ $cell_trans = "Singular" | i18n | title }}
                            {{ $cell_trans = print $cell_trans (replaceRE "\\ASingular(.*)" "$1" $cell) }}

                        {{ else if in $cell ", "}}
                            <!-- Split each cell into components and translate each -->
                            {{ $each_trans := slice }}
                            {{ range split $cell ", " }}
                                {{ $each_trans =  $each_trans | append (i18n .) }}
                            {{ end }}

                            {{ $cell_trans = delimit $each_trans ", " | title }}
                        {{ else }}
                            {{ $cell_trans = i18n $cell }}
                        {{ end }}
                    {{ end }}

                    <!-- Add th, span, and German. -->
                    {{ $cell_trans = print $th "<span lang=de class=de>" $cell "</span><br><span lang=en class=\"en trans\">" $cell_trans "</span></th>" }}

                    <!-- Add the translated cell. -->
                    {{ $table = $table | replaceRE . $cell_trans }}
                {{ end }}

                <!-- Make the word itself bold in the table. -->
                {{ if or (in $wc_infos "Personalpronomen") (in $wc_infos "Adjektiv") }}
                    {{ $table = $table | replaceRE (print "<td>([^<]*)(" $word ")\\b") "<td>$1<strong>$2</strong>"}}
                {{ end }}

                {{ $html_table = print $html_table $table }}
            {{ end }}

            <!-- Wrap the image and/or table in a div. -->
            {{ if or $html_image $html_table }}
                {{ $html_wc = print $html_wc "<div class=\"non-text\">" $html_image $html_table "</div>" }}
            {{ end }}

            <!-- Split into seperate dictionary items. -->
            {{ $rest = $rest | replaceRE "\\A.*?<h4" "<h4" }}
            {{ range $k, $item := split $rest "<h4" }}
                <!-- Split into header and body. -->
                {{ $header := . | replaceRE "\\A[^>]*?>|<\\/h4>.*|<[^>]*?>|\\[.*" "" | replaceRE "&#160;" " " }}
                {{ $body   := . | replaceRE ".*<\\/h4>" "" }}

                <!-- TODO CONTINUE HERE -->

                <!-- Make sure the header is blank for tables, pictures. -->
                        {{ if not (in . "</h4>") }}
                            {{  $header = "" }}
                        {{ end }}

                        <!-- Don't show hyphenation if there is none.-->
                        {{ if and (eq $header "Worttrennung") (not (in $body "·")) }}
                            {{ $body = "" }}
                        {{ end }}

                        <!-- Remove rhymes. -->
                        {{ $body = $body | replaceRE "<dd><a href=\"/wiki/Hilfe:Reime\".*?</dd>" "" }}

                        <!-- Remove style information. -->
                        {{ $body = $body | replaceRE "<table.*?>" "<table>"  | replaceRE "<th.*?>" "<th>" | replaceRE "<td.*?>" "<td>" | replaceRE "<p.*?>" "<p>" | replaceRE "<div([^>]*?)style=\".*?\"([^>]*?)>" "<div$1 $2>" | replaceRE " class=\".*?\"" "" | replaceRE "<div></div>" ""  }}

                        <!-- Make audio files playable (not just in pronunciation section). -->
                        {{ $body = $body | replaceRE "<span.*?>|</span.>" "" | replaceRE "(<img[^>]*?Loudspeaker.svg[^>]*?>&#160;)<a href=\"(.*?)\"[^>]*>(.*?)<\\/a>" "<span class=\"audio-available\" audio=\"https:$2\">$1$3</span>" }}

                        <!-- Correct false plurals. -->
                        {{ $lines := len (findRE "</dd>" $body) }}
                        {{ if lt $lines 2 }}
                            {{ if eq $header "Bedeutungen" }}
                                {{ $header = "Bedeutung"}}
                            {{ end }}
                            {{ if eq $header "Beispiele" }}
                                {{ $header = "Beispiel"}}
                            {{ end }}
                        {{ end }}

                        <!-- Clean up the html including all links. -->
                        {{ $body = $body | replaceRE "<p class=\"mw-empty-elt\"></p>|<a .*?>|</a>|\\(\\)|<!--.*?-->|<div[^<]*?title=\"Referenzen und weiterführende Informationen\".*|<sup.*?</sup>|<p><i><span style=\"visibility:hidden\" id=\"Quellen\">.*|<p>.*?Quellen:</i>.*|<a[^>]*?><\\/a>|<table><tbody><tr><th>Dialektausdrücke:</th></tr><tr><td><div id=\"Vorlage_Uberarbeiten\".*|<div id=\"Vorlage_Uberarbeiten\".*" "" }}

                        <!-- Clean up whitespaces. -->
                        {{ $body = $body | replaceRE "\\[([0-9]+), ([0-9]+)\\]" "[$1,&#160;$2]"  | replaceRE "#8206;" "&#160;" | replaceRE "(&#160;)+" "&#160;" | replaceRE "&#160; " "&#160;" | replaceRE "&#160;([;,.])" "$1" | replaceRE "\\s+" " " | replaceRE "<div[^>]*>&#160;</div>" "" }}

                        <!-- Correct image source links. -->
                        {{ $body = $body | replaceRE "src=\"(/w/extensions.*?)\"" "src=\"https://wiktionary.org$1\"" }}

                        <!-- Insert the entry for the basic form. -->
                        {{ if eq $header "Grammatische Merkmale" }}
                            {{ with findRE "flektierte Form von <b>(.*?).</b>" $body }}
                                {{ $basic_form_instance := index . 0 | replaceRE ".*<b>|\\.</b>" "" }}
                                {{ if eq $num_wc 1 }}
                                    {{ $basic_form = $basic_form_instance }}
                                {{ end }}

                                {{ $basic := partial "functions/get-word-info.html" $basic_form_instance }}

                                {{ $word_classes = $word_classes | append (index $basic.word_classes 0) }}

                                {{ $body = $body | replaceRE "</ul>.*" (print "</ul></div>" $basic.html) }}
                            {{ end }}
                        {{ end }}

                        {{ $html_item := "" }}
                        {{ with $body }}
                            {{ with $header }}

                                <!-- Translate the header. -->
                                {{ $header = print "<h4><span lang=de class=de>" $header "</span><br><span lang=en class=\"en trans\">" (title (i18n $header)) "</span></h4>" }}

                                <!-- Small (or very important) entries are shown. -->
                                {{ $length := len (replaceRE "<[^>]*>" "" $body) }}
                                {{ if or (and (lt $length 100) (lt $lines 3)) (in $header "Grammatische Merkmale")}}
                                    {{ $html_item = print "<div class=\"ui-corner-all custom-corners\"><div class=\"ui-bar ui-bar-a\">" $header "</div><div class=\"ui-body ui-body-a\">" $body "</div></div>" }}
                                {{ else }}
                                    {{ $html_item = print "<div class=\"\" data-role=\"collapsible\">" $header $body "</div>" }}
                                {{ end }}

                                <!-- If there is audio in the body, play the first one when clicking on the header. -->
                                {{ if in $header "Aussprache" }}
                                    {{ with index (findRE "https://upload.*?" $body) 0 }}
                                        {{ $html_item = replaceRE "<h4>(.*?)</h4>" (print "<h4 audio=" . " class=\"audio-available\">$1</h4>") $html_item }}

                                        <!-- Get the first audio file. -->
                                        {{ $audio = $audio | default index (findRE "<a href=//upload.wikimedia.org/wikipedia/commons/.*? class=internal title=.*?>" $raw) 0 | print "https:" | replaceRE "<a .*href=| .*" "" | default "" }}
                                            <!-- TODO correct -->
                                    {{ end }}<!-- end with $header  -->
                                {{ end }}

                            {{ else }}
                                {{ $html_item = $body }}

                            {{ end }}<!-- end with $body  -->
                        {{ end }}<!-- end range over items -->
                        <!-- Add the item. -->
                        {{ $html_wc = print $html_wc $html_item }}
                    {{ end }}<!-- end range over items -->

                    <!-- Wrap in collapsible div. -->
                    {{ $html = print $html "<div data-role=\"collapsible\"" }}
                    {{ if eq $num_wc 1 }}
                        <!-- Expand the first. -->
                        {{ $html = print $html " data-collapsed=\"false\"" }}
                    {{ end }}
                    {{ $html = print $html "><h3>" $html_wc_name "</h3>" $html_wc "</div>" }}


        {{ end }}{{ end }}<!-- end of: Analyse each word classes entry. -->
    {{ end }}{{ end }}<!-- end of: Analyse the German entry. -->
{{ end }}<!-- end of: Extract cache or not. -->

{{ if not $basic_form }}
    {{ $basic_form = $word }}
{{ end }}

<!-- Remove duplicate elements. -->
{{ $word_classes = uniq $word_classes }}

{{ return dict "html" $html "audio" $audio "word_classes" $word_classes "basic_form" $basic_form }}