<!-- The word we are looking for. -->
{{ $word := .Word }}
<!-- TODO maybe | replaceRE "&rsquo;" ""-->

<!-- The site data. -->
{{ $data := .Data }}

<!-- Initialize Scratch. -->
{{ $s := newScratch }}

<!-- The languages we want to crawl. -->
{{ $langs := slice "de" "en" }}

<!-- Initialize singleton variables. -->
{{ $gender       := "" }}
{{ $audio        := "" }}
{{ $basic_form   := "" }}
{{ $translation  := "" }}
{{ $img          := dict }}

<!-- Set a unique ID for the word. -->
{{ $id := lower $word }}
{{ if findRE "\\A[A-ZÄÖÜ]" $word }}
    {{ $id = print $id "_cap" }}
{{ end }}

<!-- Check if entry is cached. -->
{{ with $data.wiktionary }}{{ with index . $id }}
    <!-- Save the info from the data file. -->
    {{ $s.Set "info" . }}
{{ end }}{{ end }}

{{ if not ($s.Get "info") }}
    {{ $s.SetInMap "info" "id" $id }}

    {{ range $lang := $langs }}
        <!-- Get wikitext from cache or from Wiktionary. -->
        {{ range $type := slice "wikitext" "text" }}
            {{ $path := printf "assets/html/wiktionary/%s_%s_%s.html" $id $type $lang }}
            {{ if fileExists $path }}
                {{ $s.Set (printf "%s_%s" $type $lang) (readFile $path) }}
            {{ else }}
                <!-- Get JSON from Wiktionary. -->
                {{ $json := getJSON (printf "https://%s.wiktionary.org/w/api.php?action=parse&format=json&disabletoc=true&prop=%s&page=%s" $lang $type $word) }}

                <!-- Cache the result. -->
                {{ with $json.parse  }}
                    {{ $cache := index (index . $type) "*" | resources.FromString (printf "wiktionary/%s_%s_%s.html"  $id $type $lang) }}
                    {{ if eq $type "text" }}
                        {{ $cache = minify $cache }}
                    {{ end }}
                    {{ $s.Set (printf "%s_%s" $type $lang) $cache.Content }}
                {{ else }}
                    {{ errorf "Please add \"%s\" to data/custom_words.json or data/synonyms.json because I can't get the Wiktionary %s." $word $type }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}<!-- end of ranging over $langs -->

    <!-- START of German Wiktionary entry -->
    {{ $html := $s.Get "text_de" }}

    <!-- START of cleanup -->
        <!-- Remove notices etc. -->
        {{ $html = $html | replaceRE "<div id=Vorlage_[^>]*>.*?</div>|<div[^>]*title=\"Referenzen und weiterführende Informationen\">.*?</div><dl>.*?</dl>|<p><i>Quellen:</i><br></p><div class=mw-references-wrap>.*?</div>|<table class=noprint.*?</table>" "" | replaceRE "<div[^>]*border-top:1px[^>]*></div>" "<hr>"}}

        <!-- Clean up html. -->
        {{ $html = $html | replaceRE "<div.*?>|</div>|<span.*?>|</span>| style=\".*?\"| style=width:[^>]*|&#160;<sup.*?>.*?</sup>|<sup.*?>.*?</sup>|<p class=mw-empty-elt></p>" "" }}

        <!-- Make audio files playable (not just in pronunciation section). -->
        {{ $html = $html | replaceRE "<img[^>]*Loudspeaker.svg[^>]*>(&#160;|)<a href=([^ >]*)[^>]*>(.*?)</a>" "<span class=audio-available audio=$2>$3</span>" | replaceRE "(</span>) (<span.*?>)" "$1, $2"}}

        <!-- Remove href links. -->
        {{ $html = $html | replaceRE "<a .*?>|</a>" "" | replaceRE "\\[Bearbeiten\\]" "" }}

        <!-- Improve tables. -->
        {{ $html = $html | replaceRE  "\"(wikitable).*?\"" "$1" }}

        <!-- Improve images. -->
        {{ $html = $html | replaceRE "<table[^>]*><tbody><tr><td[^>]*>(<img[^>]*>)(.*?)</td></tr></tbody></table>" "<div class=thumbinner>$1<div class=thumbcaption><p>$2</p></div></div>" | replaceRE "=//upload" "=https://upload" }}

        <!-- Correct headers. -->
        {{ $html = $html | replaceRE "<p style=margin-bottom:-.5em;font-weight:700.*?>(.*?):</p>" "<h4>$1</h4>" }}

        <!-- Clean up whitespace. -->
        {{ $html = $html | replaceRE "\\[([0-9]+), ([0-9]+)\\]" "[$1,&#160;$2]" | replaceRE "&#160;([;,.])" "$1" | replaceRE "(&#160;) " "$1" |  replaceRE "&#8206;" "" |  replaceRE "(&#160;)+" "&#160;" }}

        <!-- DEBUG -->
        {{ with findRE "\n|<p><br></p>|(&#160;){2,}|[\\s]{2,}" $html }}
            {{ errorf "Still found %d whitespaces: %s\n" (len .) (delimit . "+\n") }}
        {{ end }}
        {{ if not (findRE "\\A<h2>" $html) }}
            {{ errorf "HTML does not begin with '<h2>', begins with '%s' instead." (findRE "\\A.*<h2>" $html) }}
        {{ end }}

    <!-- END of cleanup-->

    <!-- Analyse the German part. -->
    {{ range split $html "<h2>" }}{{ if findRE "\\A[^>]* \\(Deutsch\\)</h2>" . }}
        {{ $entries := . | replaceRE ".*</h2>" "" }}

        <!-- DEBUG -->
        {{ if not (findRE "\\A<h3>" $entries) }}
            {{ errorf "HTML does not begin with '<h3>', begins with '%s' instead." (findRE "\\A.*<h3>" $html) }}
        {{ end }}

        <!-- Analyse each word classes entry. -->
        {{ $entries = $entries | replaceRE "\\A<h3>" "" }}
        {{ range split $entries "<h3>" }}
            <!-- Check which word classes are named in the header, then:
                - clean
                - tranform emphasis into brackets
                - transform slashes into commas
            -->
            {{ $header := . | replaceRE "</h3>.*" "" }}

            <!-- Get the word classes. -->
            {{ $wcs := split (replaceRE ", <em.*?</em>|, <i>.*?</i>" "" $header) ", " }}
            {{ $s.Add "word classes" $wcs }}

            <!-- Get the gender. -->
            {{/* with findRE ">(f|m|n)</em>" $header }}
                {{ $g := index . 0 | replaceRE ">|<.*" "" }}
                {{ $gender = $gender | default $g }}
            {{ end }}
            <!-- DEBUG -->
            {{ if and (in $wcs "Substantiv") (not $gender)}}
                {{ errorf "Couldn't parse gender." }}
            {{ end */}}

            <!-- Clean the header. -->
            {{ $header = $header | replaceRE ", <em title=\"Genus:.*?: (.*?)\">.*?</em>" " ($1" | replaceRE "<i>" "(" | replaceRE "</i>" ")" | replaceRE "\\), \\(" ", " | replaceRE ", \\(" " (" }}
            {{ $header_trans := partial "trans" $header }}
            {{ $s.SetInMap "entry" "header" (dict "de" $header "en" $header_trans) }}

            <!-- Analize the entry. -->
            {{ $entry := . | replaceRE ".*</h3>" "" }}

            <!-- Get the table, if present.  -->
            {{ with findRE "\\A<table class=wikitable>.*?</table>" $entry }}
                <!-- Add the html to the info. -->
                {{ $table := index . 0 }}

                <!-- Remove the html from the entry html. -->
                {{ $entry = replace $entry $table "" }}

                <!-- Show link to Flexion:... -->
                {{ $table = $table | replaceRE "(Flexion:[^<]*)" "<a href=https://de.wiktionary.org/wiki/$1 target=_blank>$1</a>" }}

                <!-- Translate cells. -->
                {{ range findRE "<th.*?</th>" $table }}
                    {{ $cell := . | replaceRE "<th.*?>|</th>" "" }}

                    {{ if and $cell (ne $cell "—") }}
                        {{ $cell_trans := "" }}
                        {{ if in $cell "<i>"}}
                            <!-- Translate only the cursive. -->
                            {{ $inner_i18n := $cell | replaceRE ".*<i>(.*?)</i>.*" "$1" | partial "trans" }}
                            {{ $cell_trans = $cell | replaceRE "<i>.*?</i>" (print "<i>" $inner_i18n "</i>") }}
                        {{ else }}
                            {{ $cell_trans = partial "trans" $cell }}
                        {{ end }}

                        {{ with $cell_trans }}
                            {{ $table = replace $table $cell (print "<span lang=de>" $cell "</span><br><span lang=en class=trans>" . "</span>") }}
                        {{ end }}
                    {{ end }}
                {{ end }}<!-- end of translating table cells -->

                {{ $s.SetInMap "entry" "table" (dict "html" $table) }}
            {{ end }}

            <!-- Get the image, if present. -->
            {{ with findRE "\\A<div class=thumbinner>.*?</div></div>" $entry }}
                <!-- Get the html. -->
                {{ $html := index . 0 }}

                 <!-- Remove the html from the entry html. -->
                 {{ $entry = replace $entry $html "" }}

                <!-- Get the src. -->
                {{ $s.SetInMap "image" "src" (replaceRE ".* src=| .*" "" $html) }}

                <!-- Get the caption. -->
                {{ $caption := $html | replaceRE ".*<p>|</p>.*" "" }}
                {{ $s.SetInMap "image" "caption" $caption }}

                <!-- Get an alt value for the image from the caption. -->
                {{ $alt := $caption | replaceRE "<.*?>|\\[.*\\] " "" }}

                <!-- Replace empty alt with our alt value. -->
                {{ $html = $html | replaceRE " alt " (printf " alt=\"%s\" " $alt) }}
                {{ $s.SetInMap "image" "alt" (replaceRE ".* alt=\"|\".*" "" $html) }}

                <!-- Get the width and height of the image. -->
                {{ $w := $html | replaceRE ".* width=([0-9]*).*" "$1" | int }}
                {{ $h := $html | replaceRE ".* height=([0-9]*).*" "$1" | int }}
                {{ $s.SetInMap "image" "width"  $w }}
                {{ $s.SetInMap "image" "height" $h }}

                <!-- Save the changed html. -->
                {{ $s.SetInMap "image" "html" $html }}

                <!-- Save the info and delete scratch entry. -->
                {{ $s.SetInMap "entry" "img" ($s.Get "image") }}
                {{ $img = $img | default ($s.Get "image") }}
                {{ $s.Delete "image" }}
            {{ end }}

            <!-- Get the coda. -->
            {{ with findRE "<hr>" $entry }}
                <!-- DEBUG -->
                {{ if or (not (findRE "<hr><h4>" $entry)) (ne (len .) 1) }}
                    {{ errorf "Something is wrong with the coda" }}
                {{ end }}

                {{ $codas := $entry | replaceRE ".*<hr><h4>" "" }}
                {{ range $coda := split $codas "<h4>" }}
                    {{ $header := . | replaceRE "</h4>.*" "" }}
                    {{ if eq $header "Ähnliche Wörter (Deutsch)" }}
                        {{ $header = "Ähnliche Wörter" }}
                    {{ else if in $header "Ähnliche Wörter" }}
                        {{ $header = "" }}<!-- discard -->
                    {{ end }}

                    {{ with $header }}
                        {{ $s.SetInMap "coda_map" "header" (dict "de" . "en" (partial "trans" .)) }}
                        {{ $s.SetInMap "coda_map" "subentry" (replaceRE ".*</h4>" "" $coda) }}

                        {{ $s.Add "coda" (slice ($s.Get "coda_map")) }}
                        {{ $s.Delete "coda_map" }}
                    {{ end }}
                {{ end }}

                {{ $entry = $entry | replaceRE "<hr>.*" "" }}
            {{ end }}

            <!-- DEBUG -->
            {{ if not (findRE "\\A<h4>" $entry) }}
                {{ errorf "HTML does not begin with '<h4>', begins with '%s' instead." (findRE "\\A.*<h4>" $html) }}
            {{ end }}

            <!-- Split into seperate dictionary items. -->
            {{ range split (replaceRE "\\A.*?<h4>" "" $entry) "<h4>" }}
                {{ $header   := . | replaceRE "</h4>.*" "" }}
                {{ $subentry := . | replaceRE ".*</h4>" "" }}

                <!-- Adjust depending on item type. -->
                {{ if eq $header "Worttrennung" }}
                    <!-- Don't show hyphenation if there is none.-->
                    {{ if not (in $subentry "·") }}
                        {{ $subentry = "" }}
                    {{ end }}

                {{ else if eq $header "Aussprache" }}
                    <!-- Get the first audio file. -->
                    {{ if not $audio }}{{ with index (findRE " audio=[^ >]*" $subentry) 0 }}
                        {{ $audio = . | replaceRE " audio=" "" }}
                    {{ end }}{{ end }}

                    <!-- Remove rhymes. -->
                    {{ $subentry = $subentry | replaceRE "<dd>Reime:.*?</dd>" "" }}
                {{ else if eq $header "Grammatische Merkmale" }}
                    <!-- Improve declension table-->
                    {{ $subentry = $subentry | replaceRE "<table.*?><tbody><tr.*?>(.*?)<br>Alle weiteren Informationen.*?</td>" "<table class=infotable><tbody><tr>$1</td>" | replaceRE "(Flexion:[^.,<]*)" "<a href=https://de.wiktionary.org/wiki/$1 target=_blank>$1</a>" }}

                    <!-- Set the basic form if not set. -->
                    {{ if not $basic_form }}{{ with findRE "<b>(.*?)</b>" $subentry }}
                        {{ $basic_form = index . 0 | replaceRE ".*<b>|</b>|\\.|\\,|„|“" "" }}

                        <!-- Prevent an infinite loop by not picking the same word and only bothering with first entry. -->
                        {{ if ne $word $basic_form }}
                            {{ $basic := partial "functions/get-word-info-3.html" (dict "Word" $basic_form "Data" $data) }}

                            <!-- Add all word classes of the basic form. -->
                            {{ with index $basic "word classes" }}
                                {{ $s.Add "word classes" . }}
                            {{ else }}
                                {{ errorf "'%s', the basic word of '%s' does not have any word classes." $basic_form $word }}
                            {{ end }}

                            <!-- Get the translation. -->
                            {{ with $basic.translation }}
                                {{ $translation = $translation | default . }}
                            {{ end }}
                        {{ end }}
                    {{ end }}{{ end }}

                {{ else if eq $header "Übersetzungen" }}

                    <!-- Get the translation. -->
                    {{ range findRE "<li>Englisch: .*?</li>" $subentry }}
                        <!-- Clean up the translation including tags. -->
                        {{ $translation = . | replaceRE "<li>Englisch: |</li>" "" | replaceRE "&#160;" " " | replaceRE "<.*?>" "" }}

                        <!-- Remove the brackets if there is only one meaning. -->
                        {{ if eq (len (findRE "\\[" $translation)) 1}}
                            {{ $translation =  $translation | replaceRE "\\[.*?\\] " "" }}
                        {{ end }}

                        <!-- Translate or remove parts that are still in German. -->
                        {{ $translation =  $translation | replaceRE "veraltet" "obsolete" | replaceRE "britisch" "British" | replaceRE " \\(.*?\\)" "" | replaceRE "meist " ""  | replaceRE "\\[1\\] \\[1\\]" "[1]" }}
                    {{ end }}

                {{ else if in $header "Das Gesuchte nicht gefunden?" }}
                    {{ $subentry = "" }}
                {{ end }}

                <!-- Translate the header. -->
                {{ $header_trans := partial "trans" $header }}

                <!-- Save the subentry info. -->
                {{ with $subentry }}
                    {{ $s.SetInMap "subentry" "subentry" . }}
                    {{ $s.SetInMap "subentry" "header" (dict "de" $header "en" $header_trans) }}
                    {{ $s.Add "subentries" (slice ($s.Get "subentry")) }}
                    {{ $s.Delete "subentry" }}
                {{ end }}

            {{ end }}
            <!-- Set basic form to word itself if it was not set (to prevent an infinite loop). -->
            {{ $basic_form = $basic_form | default $word }}

            {{ $s.SetInMap "entry" "subentries" ($s.Get "subentries") }}
            {{ $s.Add "entries" (slice ($s.Get "entry")) }}
            {{ $s.Delete "subentries" }}
            {{ $s.Delete "entry" }}
        {{ end }}<!-- end of: Analyse each word classes entry. -->

        {{ with $s.Get "coda" }}
            {{ $s.SetInMap "info_lang" "coda" . }}
            {{ $s.Delete "coda" }}
        {{ end }}
        {{ $s.SetInMap "info_lang" "entries"  ($s.Get "entries") }}
        {{ $s.Delete "entries" }}
    {{ end }}{{ end }}<!-- end of: Analyse the German entry. -->
    <!-- END of German Wiktionary entry -->

    <!-- START of German Wikitext. -->
    {{ $wt := $s.Get "wikitext_de" }}

    <!-- Treat translation as just another info. -->
    {{ $wt = $wt | replaceRE "====\\s?(.*?)\\s?====" "{{$1}}" }}

    <!-- Transform equal signs into html tags for splitting. -->
    {{ $wt = $wt | replaceRE "===\\s?(.*?)\\s?===" "<h3>$1" }}
    {{ $wt = $wt | replaceRE "==\\s?(.*?)\\s?==" "<h2>$1" }}

    <!-- Analyse the relevant entry. -->
    {{ range split $wt "<h2>" }}{{ if findRE "\\A.*\\|Deutsch|\\AGerman\n" . }}
        <!-- Remove fluff in the beginning. -->
        {{ $entry := . | replaceRE "\\A.*\n<h3>" "" }}

        <!-- Analyse each word classes entry. -->
        {{ range $entry_num, $entry := split $entry "<h3>" }}
            <!-- Get the table, if present. -->
            {{ $entry := . | replaceRE "\n" "" }}
            {{ with findRE "{{Deutsch[^\\|]*Übersicht.*?}}" $entry }}
                <!-- Set the table from the html analysis. -->
                {{ $s.Set "table" (index ($s.Get "info_lang").entries $entry_num).table }}

                {{ $table := index . 0 | replaceRE "{{.*?\\||\\|Bild=.*|}}" "" }}
                {{ range split $table "|" }}
                    {{ $split := split . "=" }}
                    <!-- DEBUG -->
                    {{ if ne (len $split) 2 }}
                        {{ errorf "Something is wrong with the extracted table from the wikitext." }}
                    {{ else }}
                        {{ $k := index $split 0 }}
                        {{ $v := index $split 1 }}
                        {{ $s.SetInMap "table" $k $v }}

                        {{ if eq $k "Genus" }}
                            <!-- Get the gender. -->
                            {{ $gender = $gender | default $v }}
                        {{ else if ne $k "Hilfsverb" }}
                            <!-- Get variants. -->
                            {{ $s.Add "variants" (slice $v) }}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}<!-- end of analyzing each word classes entry -->
    {{ end }}{{ end }}<!-- end of analyzing the relevant entry -->
    <!-- END of German Wikitext. -->

    {{ $s.SetInMap "info" "de" ($s.Get "info_lang") }}
    {{ $s.Delete "info_lang" }}

    <!-- Set a title (with the article, if applicable). -->
    {{ $title := $word }}
    {{ with $gender }}
        {{ $title = $title | print (index $data.gender .).article " " }}
        {{ $s.SetInMap "info" "gender" . }}
    {{ end }}
    {{ $s.SetInMap "info" "title" $title }}

    <!-- Add all slices. -->
    {{ range $type := slice "word classes" "variants" }}
        {{ with $s.Get . }}
            {{ $s.SetInMap "info" $type (uniq .) }}
        {{ end }}
    {{ end }}

    <!-- Add all singletons. -->
    {{ with $gender }}{{ $s.SetInMap "info" "gender" . }}{{ end }}
    {{ with $audio }}{{ $s.SetInMap "info" "audio" . }}{{ end }}
    {{ with $basic_form }}{{ $s.SetInMap "info" "basic form" . }}{{ end }}
    {{ with $translation }}{{ $s.SetInMap "info" "translation" . }}{{ end }}
    {{ with $img }}{{ $s.SetInMap "info" "img" . }}{{ end }}

    <!-- DEBUG -->
    {{/* with $s.Get "word classes" */}}
        {{ if and (not $gender) (in ($s.Get "word classes") "Substantiv") }}
            {{ errorf "Failed to get the gender." }}
        {{ end }}
    {{/* end */}}

    <!-- Cache the result. -->
    {{ $cache := $s.Get "info" | jsonify | resources.FromString (print "wiktionary/data/" $id ".html") | minify }}
    {{ $data := $cache.Content }}<!-- just to make it stick -->

{{ end }}<!-- end of getting $info -->

{{ return ($s.Get "info") }}
