<!-- Initialize output variables. -->
{{ $html   := "" }}
{{ $popups := "" }}
{{ $word_classes_all := slice }}
{{ $learned_words := slice }}

{{ if and .Site.Params.buildPopups .Params.popups }}

{{ $vocab := .Site.Data.a1_vocab }}
{{ $synonyms := .Site.Data.synonyms }}
{{ $custom_words := .Site.Data.custom_words }}

{{ $input  := replace .Content "<br>" "<br> " }}
{{ $input   = replace $input "</p>" "</p> " }}

{{ $input   = replace $input "Authentic German Learning" "Authentic_German_Learning" }}

{{ $sentence_start := true }}
{{ $i := 0 }}
{{ range split $input " " }}
    <!-- Seperate the word from surrounding characters. -->
    {{ $word := . | replaceRE "<.*?>|[^A-Za-zöäüßÖÄÜ_-]" "" }}
    {{ $pre  := . | replaceRE (print $word ".*") "" }}
    {{ $post := . | replaceRE (print ".*" $word) "" | replaceRE "\n" "" }}

    {{ with $word }}
        {{ $search := $word }}
        {{ $word = replace $word "_" " " }}

        <!-- Check capitalization. -->
        {{ if $sentence_start }}
            {{ $lower := lower $word }}
            {{ if or (isset $synonyms $lower) (isset $vocab $lower) (isset $custom_words $lower) }}
                <!-- We know the lower variant is correct because we found it in our maps. -->
                {{ $search = $lower }}
            {{ else if not (or (isset $synonyms $word) (isset $vocab $word) (isset $custom_words $word)) }}
                <!-- We must know, set word into a json data map (even if value is empty). -->
                {{ if $.Site.Params.Debug.Capitalization }}
                    {{ errorf "Capitalization of \"%s\" unknown." $word }}
                {{ end }}
            {{ end }}
        {{ end }}

        <!-- Check for synonyms. -->
        {{ with index $synonyms $search }}
            {{ $search = . }}
        {{ end }}

        <!-- Get word info from Wiktionary. -->
        {{ $info := index $custom_words $search | default (partial "functions/get-word-info.html" $search) }}

        <!-- Collect all the attributes and classes of the link element. -->
        {{ $s := newScratch }}
        {{ $attr := dict "basic-form" $info.basic_form }}
        {{ $s.Set "attr" $attr }}
        {{ $classes := slice }}

        {{ with $info.html }}
            <!-- Make the word into a popup element. -->
            {{ $s.SetInMap "attr" "href" (print "#word-" $i) }}
            {{ $s.SetInMap "attr" "data-rel" "popup" }}
            {{ $s.SetInMap "attr" "data-transition" "pop" }}

            <!-- Add the html to the popup contents below the text.  data-dismissible=\"true\"-->
            {{ $popup := print "<div class=\"ui-content\" data-role=\"popup\" id=\"word-" $i "\" data-overlay-theme=\"a\" data-position-to=\"origin\"><a href=\"#\" data-rel=\"back\" class=\"ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right\">Schließen</a>" . "</div>"}}<!--  data-position-to=\"window\" -->
            {{ $popups = print $popups $popup }}

            <!-- Iterate the number for the id. -->
            {{ $i = add $i 1 }}

            <!-- Define classes of the popup element. -->
            {{ $classes = $classes | append "word-info" "ui-btn-inline" }}

            <!-- Add word types. -->
            {{ range $info.word_classes }}
                {{ $classes = $classes | append (replace . " " "-") }}
                {{ if not (in $word_classes_all .) }}
                    {{ $word_classes_all = $word_classes_all | append . }}
                {{ end }}
            {{ end }}
        {{ end }}

        <!-- Add audio file, if available. -->
        {{ with $info.audio }}
            {{ $s.SetInMap "attr" "audio" . }}
            {{ $classes = $classes | append "audio-available" }}
        {{ end }}

        <!-- Check if it's an important word. -->
        {{ with index $vocab $info.basic_form }}
            {{ $classes = $classes | append "important" }}
            {{ $learned_words = $learned_words | append $info.basic_form }}
        {{ end }}

        {{ with $classes }}
            {{ $html = print $html $pre "<a " }}
            {{ range $a, $k := $attr }}
                {{ $html = print $html $a "=\"" $k "\" " }}
            {{ end }}
            {{ $html = print $html "class=\"" (delimit $classes " ") "\">" $word "</a>" $post " "}}
        {{ else }}
            {{ if $.Site.Params.Debug.MissingWords }}
                {{ errorf "Could not find word \"%s\"." . }}
            {{ end }}
            {{ $html = print $html $pre . "* "  $post }}
        {{ end }}
    {{ else }}
        {{ $html = print $html . " " }}
    {{ end }}

    {{ $sentence_start = gt (len (findRE "[\\.\\?\\!]" .) ) 0 }}
{{ end }}

<!-- Add disclaimer -->
{{ $popups = print "<p class=\"disclaimer\"><span lang=\"de\" class=\"de\">Manche Inhalte auf dieser Seite wurden von <a href=\"https://www.wiktionary.org/\" target=\"_blank\">Wiktionary</a> entnommen.</span><br><span lang=\"en\" class=\"en trans\">Some content on this page was extracted from <a href=\"https://www.wiktionary.org/\" target=\"_blank\">Wiktionary</a>.</span></p>" $popups }}

{{ else }}
    {{ $html = .Content }}
{{ end }}<!-- end of  and .Site.Params.buildPopups .Params.spellchecked -->

{{ return dict "html" $html "popups" $popups "word_classes" $word_classes_all "learned_words" $learned_words }}