<!-- The word we are looking for. -->
{{ $word := . }}

<!-- Initialize output variables. -->
{{ $html  := "" }}
{{ $audio := "" }}
{{ $word_classes := slice }}
{{ $basic_form := "" }}

<!-- Check if entry is cached. -->
{{ $path_html := print "assets/html/wiktionary/" $word "_popup.html" }}
{{ $path_data := print "assets/html/wiktionary/" $word "_data.html" }}

<!-- -->
{{ if and (fileExists $path_html) (fileExists $path_data) }}
    {{ $html = readFile $path_html }}

    {{ $data := readFile $path_data }}
    {{ $audio = index (findRE "\"audio\":\".*?\"" $data) 0 | replaceRE "\"audio\":\"(.*?)\"" "$1" }}
    {{ $basic_form = index (findRE "\"basic_form\":\".*?\"" $data) 0 | replaceRE "\"basic_form\":\"(.*?)\"" "$1" }}
    {{ $wc := index (findRE "\"word_classes\":\\[.*?\\]" $data) 0 | replaceRE "\"word_classes\":\\[(.*?)\\]" "$1" | replaceRE "\"(.*?)\"" "$1" }}
    {{ $word_classes = split $wc "," }}
{{ else }}

    <!-- Get HTML from cache or from Wiktionary. -->
    {{ $raw := "" }}
    {{ $path_raw := print "assets/html/wiktionary/" $word "_de_raw.html" }}
    {{ if fileExists $path_raw }}
        {{ $raw = readFile $path_raw }}
    {{ else }}
        <!-- Get JSON from Wiktionary. -->
        {{ $json := getJSON (print "https://de.wiktionary.org/w/api.php?action=parse&format=json&prop=text&disabletoc=true&page=" $word) }}

        <!-- Cache the result. -->
        {{ with $json.parse  }}
            {{ $cache := index .text  "*" | resources.FromString (print "wiktionary/" $word "_de_raw.html") | minify }}

            {{ $raw = $cache.Content }}
        {{ else }}
            {{ errorf "Please add \"%s\" to data/wiktionary/custom_words.json or data/wiktionary/synonyms.json." $word }}
        {{ end }}
    {{ end }}

    <!-- Analyse the German entry. -->
    {{ range split $raw "<h2" }}{{ if in . "Wiktionary:Deutsch" }}

        <!-- Fast lookup for gender abbreviations. -->
        {{ $gender_map := dict "m" "männlich" "f" "weiblich" "n" "sächlich" }}
        {{ $article_map := dict "m" "der " "f" "die " "n" "das " }}

        <!-- Initialize gender variables. -->
        {{ $gender := "" }}
        {{ $article := "" }}

        <!-- Fast lookup for singulars. -->
        {{ $singular_map := dict "Bedeutungen" "Bedeutung" "Beispiele" "Beispiel" }}

        <!-- Analyse each word classes entry. (First in split is rubbish.) -->
        {{ range $num_wc, $k := split (replaceRE "\n" "" .) "<h3" }}{{ if ne $num_wc 0 }}

            <!-- Check which word classes are named in the header, then:
                - clean
                - tranform emphasis into brackets
                - transform slashes into commas
            -->
            {{ $wc_header := . | replaceRE "</h3>.*|\\A>|<span.*?>|</span>|<a.*?>|</a>|\\[.*" "" | replaceRE "<em.*?>|<i>" "(" | replaceRE "</em>|</i>" ")" | replaceRE "/" ", " }}

            <!-- Initialize word class variables. -->
            {{ $wc_infos := slice }}
            {{ $wc_infos_i18n := slice }}

            {{ $isInfo := false }}
            {{ range split $wc_header ", " }}
                {{ $info := . }}
                {{ $info_i18n := "" }}

                <!-- Check if a bracket was just opened. -->
                {{ if in . "(" }}{{ $isInfo = true }}{{ end }}

                {{ if $isInfo }}
                    <!-- Remove brackets. -->
                    {{ $info = . | replaceRE "\\(|\\)" ""  }}

                    <!-- Check if the info is which gender a noun has. -->
                    {{ with index $gender_map $info }}
                        <!-- Initialize gender variables but don't overwrite them. -->
                        {{ if not $gender }}
                            {{ $gender = $info }}
                            {{ $word_classes = $word_classes | append $info }}
                            {{ $article = index $article_map $info }}
                        {{ end }}

                        {{ $info = . }}<!-- write out -->
                    {{ end }}

                    {{ $info_i18n = i18n $info }}

                    <!-- Add the brackets back in. -->
                    {{ $info = print "(" $info ")" }}
                    {{ $info_i18n = print "(" $info_i18n ")"}}
                {{ else }}
                    <!-- Add the word class to a list to use as css classes. -->
                    {{ $word_classes = $word_classes | append $info }}

                    {{ $info_i18n = i18n . | title }}
                {{ end }}

                {{ $wc_infos = $wc_infos | append $info }}
                {{ $wc_infos_i18n = $wc_infos_i18n | append $info_i18n }}

                <!-- Check if a bracket was just closed. -->
                {{ if in . ")" }}{{ $isInfo = false }}{{ end }}
            {{ end }}

            <!-- Write out and correct formating errors. -->
            {{ $wcs := delimit $wc_infos ", " | replaceRE ", \\(" " (" | replaceRE "\\) \\(|\\), \\(" ", " }}
            {{ $wcs_i18n := delimit $wc_infos_i18n ", " | replaceRE ", \\(" " ("  | replaceRE "\\) \\(|\\), \\(" ", " }}

            {{ $html_wc_name := print "<span lang=de class=de>" $wcs  "</span><br><span lang=en class=\"en trans\">" $wcs_i18n "</span>" }}

            {{ if eq $num_wc 1 }}

                <!-- Get the translation. -->
                {{ if in . "<li><a href=/wiki/Englisch title=Englisch>Englisch</a>: "}}
                    <!-- Clean up the translation -->
                    {{ $trans := . | replaceRE ".*<li><a href=/wiki/Englisch title=Englisch>Englisch</a>: |</li>.*|<sup>.*?</sup>|<.*?>|&#160;|\\(.*?\\) " "" }}

                    <!-- Remove the brackets if there is only one meaning. -->
                    {{ if eq (len (findRE "\\[" $trans)) 1}}
                        {{ $trans = $trans | replaceRE "\\[.*?\\] " "" }}
                    {{ end }}

                    <!-- Make breaks instead of semicolons. -->
                    {{ $trans = $trans | replaceRE "; " "<br>" }}

                    <!-- Add the word as a big header before the first entry. -->
                    {{ $html = print $html "<h2><span lang=de class=de>" $article $word "</span><br><span lang=en class=\"en trans\">" $trans "</span></h2>" }}
                {{ else }}
                    {{ $html = print $html "<h2>" $article $word "</h2>" }}
                {{ end }}

                <!-- ENGLISH START -->

                <!-- Get HTML from cache or from Wiktionary. -->
                {{ $raw := "" }}
                {{ $html_en := "" }}
                {{ $path_raw := print "assets/html/wiktionary/" $word "_en_raw.html" }}
                {{ if fileExists $path_raw }}
                    {{ $raw = readFile $path_raw }}
                {{ else }}
                    <!-- Get JSON from Wiktionary. -->
                    {{ $json := getJSON (print "https://en.wiktionary.org/w/api.php?action=parse&format=json&prop=text&disabletoc=true&page=" $word) }}

                    <!-- Cache the result. -->
                    {{ with $json.parse  }}
                        {{ $cache := index .text  "*" | resources.FromString (print "wiktionary/" $word "_en_raw.html") | minify }}

                        {{ $raw = $cache.Content }}
                    {{ end }}
                {{ end }}

                <!-- Analyse the German entry. -->
                {{ range split $raw "<h2" }}{{ if in . "id=German>" }}

                    {{ $collapsed := false }}
                    {{ range split . "<h3" }}
                        {{ $header := . | replaceRE "\\A.*?>|\\[.*|<div class=\"sister-wikipedia.*?\".*|<span class=mw-headline id=References>.*|<span.*?>|</span>" "" }}

                        {{ if and $header (ne $header "Pronunciation") (ne $header "Further reading") (ne $header "See also") (ne $header "Alternative forms") (ne $header "German") (ne $header "Anagrams") }}

                            <!-- Clean up the html. -->
                            {{ $entry_en := . | replaceRE ".*<\\/h3>| class=\".*?\"| class=[^ >]*|.*</h2>|<span.*?>|</span>|<style.*?</style>|<a .*?>|</a>" "" }}

                            {{ $body := "" }}

                            {{ range split $entry_en "<h4>" }}

                                <!-- Clean up html. -->
                                {{ $mini_body := . | replaceRE ".*<hr>| style=\".*?\"| style=[^ >]*" "" | replaceRE "<h5>(.*?)\\[edit\\]</h5>" "<h6>$1</h6>" | replaceRE "<table.*?>" "<table class=wikitable>" }}

                                {{ if gt (len (findRE "</h4>" .)) 0 }}
                                    <!
                                    {{ $mini_header := . | replaceRE "\\[.*" "" }}

                                    {{ if (ne $mini_header "Declension") }}

                                        <!-- Remove (repeated) header. -->
                                        {{ $mini_body := . | replaceRE ".*</h4>" "" | replaceRE (print "<div[^>]*>" $mini_header "</div>") "" | replaceRE "<div.*?>|</div>" "" }}

                                        <!-- Small (or very important) entries are shown right away (non-collapsible). -->
                                        {{ $length := len (replaceRE "<[^>]*>" "" $mini_body) }}
                                        {{ $lines := len (findRE "</li>" $mini_body) }}
                                        {{ if and (lt $length 100) (lt $lines 3) }}
                                            {{ $body = print $body "<div class=\"ui-corner-all custom-corners\"><div class=\"ui-bar ui-bar-a\"><h5>" $mini_header "</h5></div><div class=\"ui-body ui-body-a\">" $mini_body "</div></div>" }}
                                        {{ else }}
                                            {{ $body = print $body "<div data-role=collapsible><h5>" $mini_header "</h5>" $mini_body "</div>" }}
                                        {{ end }}
                                    {{ end }}
                                {{ else }}
                                    <!-- Clean html. -->
                                    {{ $mini_body := . | replaceRE "<div.*?>|</div>" "" }}

                                    {{ $body = print $body $mini_body }}
                                {{ end }}


                            {{ end }}

                            <!-- Small (or very important) entries are shown right away (non-collapsible). -->
                            {{ $length := len (replaceRE "<[^>]*>" "" $body) }}
                            {{ $lines := len (findRE "</li>" $body) }}
                            {{ if and (lt $length 100) (lt $lines 3) }}
                                {{ $html_en = print $html_en "<div class=\"ui-corner-all custom-corners\"><div class=\"ui-bar ui-bar-a\"><h4>" $header "</h4></div><div class=\"ui-body ui-body-a\">" $body "</div></div>" }}
                            {{ else }}
                                {{ $collapsed := or $collapsed (eq $header "Etymology")}}
                                {{ $html_en = print $html_en "<div data-role=collapsible data-collapsed=" $collapsed "><h4>" $header "</h4>" $body "</div>" }}
                                {{ if not $collapsed }}
                                    {{ $collapsed = true }}
                                {{ end }}
                            {{ end }}

                        {{ end }}
                    {{ end }}

                {{ end }}{{ end }}

                {{ with $html_en }}
                    {{ $html = print $html "<div data-role=collapsible data-collapsed=false lang=en class=\"en trans\"><h3>English Entry</h3>" $html_en "</div>"}}
                {{ end }}

            {{ end }}<!-- end of: if eq $num_wc 1 -->
            <!-- ENGLISH STOP -->

            <!-- Now analyse everything under the header. -->
            {{ $rest := . | replaceRE ".*</h3>" "" }}
            {{ $html_wc := "" }} <!-- This will be the html describing the word for the current word class. -->

            <!-- Transform the bold headers into real headers. -->
            {{ $rest = $rest | replaceRE "<p><span style=visibility:hidden.*?</span></p><div .*?>(.*?):</div>" "<h4>$1</h4>" }}
            {{ $rest = $rest | replaceRE "<p style=margin-bottom:-.5em><b>(.*?):</b></p>" "<h4>$1</h4>" }}
            {{ $rest = $rest | replaceRE "<p style=margin-bottom:-.5em;font-weight:700.*?>(.*?):</p>" "<h4>$1</h4>" }}

            <!-- Analyse the content before the entry, like tables and images. -->
            {{ $pre := $rest | replaceRE "<h4>.*" "" }}

            <!-- Get images, if present. -->
            {{ $html_image := "" }}
            {{ range findRE "<div class=thumbinner.*?</div></div>" $pre }}
                <!-- Extract the image and caption. -->
                {{ $img := . | replaceRE ".*(<img.*?>).*" "$1" }}
                {{ $caption := . | replaceRE ".*</div>(.*?)</div></div>" "$1" }}

                <!-- Get an alt value for the image from the caption. -->
                {{ $alt := $caption | replaceRE "<.*?>|\\[.*\\] " "" }}
                {{ $img = $img | replaceRE " alt " (print " alt=\"" $alt "\" ") }}

                <!-- Get the width of the image. -->
                {{ $width := $img | replaceRE ".* width=([0-9]*).*" "$1" }}

                <!-- Construct html. -->
                {{ $html_image = print $html_image "<div class=\"thumbinner\">" $img "<div class=\"thumbcaption\" style=width:" $width "px><p>" $caption "</p></div></div>" }}
            {{ end }}

            <!-- Get the table, if present.  -->
            {{ $html_table := "" }}
            {{ range findRE "<table class=\"wikitable.*?\".*?</table>" $pre }}
                <!-- Clean up the table html. -->
                {{ $table := . | replaceRE "<a.*?>|</a>|<p class=mw-empty-elt></p>| class=\".*?\"| style=\".*?\"| class=([^ >])*| style=([^ >])*" "" | replaceRE "<table>" "<table class=wikitable>" }}

                <!-- Translate header cells. -->
                {{ range findRE "<th.*?</th>" $table }}
                    {{ $th   := . | replaceRE "(<th.*?>).*" "$1" }}
                    {{ $cell := . | replaceRE "<th.*?>|</th>|<div>|</div>|<span.*?>|</span>" "" | replaceRE "&#160;" " " }}

                    {{ $cell_trans := $cell }}

                    {{ if and $cell (ne $cell "—") }}
                        {{ if in $cell "<i>"}}
                            <!-- Show link to Flexion:... -->
                            {{ $cell = $cell | replaceRE "(Flexion:.*)" "<a href=https://de.wiktionary.org/wiki/$1 target=_blank>$1</a>" }}

                            <!-- Translate only the cursive. -->
                            {{ $inner_i18n := index (findRE "<i>.*?</i>" $cell) 0 | replaceRE "<i>|</i>" "" | i18n }}
                            {{ $cell_trans = $cell | replaceRE "<i>.*?</i>" (print "<i>" $inner_i18n "</i>") }}

                        {{ else if gt (len (findRE "\\ASingular" $cell)) 0 }}<!-- must be in the beginning -->
                            <!-- for Singular 1, Singular 2, Singular <i>m</i> etc. -->
                            {{ $cell_trans = "Singular" | i18n | title }}
                            {{ $cell_trans = print $cell_trans (replaceRE "\\ASingular(.*)" "$1" $cell) }}

                        {{ else if in $cell ", "}}
                            <!-- Split each cell into components and translate each -->
                            {{ $each_trans := slice }}
                            {{ range split $cell ", " }}
                                {{ $each_trans =  $each_trans | append (i18n .) }}
                            {{ end }}

                            {{ $cell_trans = delimit $each_trans ", " | title }}
                        {{ else }}
                            {{ $cell_trans = i18n $cell }}
                        {{ end }}
                    {{ end }}

                    <!-- Add th, span, and German. -->
                    {{ $cell_trans = print $th "<span lang=de class=de>" $cell "</span><br><span lang=en class=\"en trans\">" $cell_trans "</span></th>" }}

                    <!-- Add the translated cell. -->
                    {{ $table = $table | replaceRE . $cell_trans }}
                {{ end }}

                <!-- Make the word itself bold in the table. -->
                {{ if or (in $wc_infos "Personalpronomen") (in $wc_infos "Adjektiv") (in $wc_infos "Verb") }}
                    {{ $table = $table | replaceRE (print "<td>([^<]*)(" $word ")\\b") "<td>$1<strong>$2</strong>"}}
                {{ end }}

                {{ $html_table = print $html_table $table }}
            {{ end }}

            <!-- Wrap the image and/or table in a div. -->
            {{ if or $html_image $html_table }}
                {{ $html_wc = print $html_wc "<div class=\"non-text\">" $html_image $html_table "</div>" }}
            {{ end }}

            <!-- Split into seperate dictionary items. -->
            {{ $rest = $rest | replaceRE "\\A.*?<h4" "<h4" }}
            {{ range split $rest "<h4" }}
                <!-- Split into header and body. -->
                {{ $header := . | replaceRE "\\A[^>]*?>|<\\/h4>.*|<[^>]*?>|\\[.*" "" | replaceRE "&#160;" " " }}
                {{ $body   := . | replaceRE ".*<\\/h4>" "" }}

                <!-- Adjust depending on item type. -->
                {{ if eq $header "Worttrennung" }}
                    <!-- Don't show hyphenation if there is none.-->
                    {{ if not (in $body "·") }}
                        {{ $body = "" }}
                    {{ end }}

                {{ else if eq $header "Aussprache" }}
                    <!-- Get the first audio file. -->
                    {{ if not $audio }}{{ with index (findRE "<a href=//upload.wikimedia.org/wikipedia/commons/.*? class=internal title=.*?>" $body) 0 }}
                        {{ $audio = . | replaceRE "<a .*href=| .*" "" | print "https:" | default "" }}
                    {{ end }}{{ end }}

                    <!-- Remove rhymes. -->
                    {{ $body = $body | replaceRE "<dd><a href=/wiki/Hilfe:Reime.*?</dd>" "" }}

                {{ else if eq $header "Ähnliche Wörter (Deutsch)" }}
                    {{ $header = "Ähnliche Wörter" }}
                {{ else if in $header "Das Gesuchte nicht gefunden?" }}
                    {{ $header = "" }}
                {{ end }}

                <!-- Clean up the html. -->
                {{ $body = $body | replaceRE "<span.*?>|</span>| class=\".*?\"| class=[^ >]*" "" }}

                <!-- Make audio files playable (not just in pronunciation section). -->
                {{ $body = $body | replaceRE "(<img[^>]*?Loudspeaker.svg[^>]*?>&#160;)<a href=([^ >]*)[^>]*>(.*?)<\\/a>" "<span class=audio-available audio=https:$2>$1$3</span>" }}

                <!-- Clean up the html including all links. -->
                {{ $body = $body | replaceRE "<a.*?>|</a>|\\(\\)|<div[^<]*?title=\"Referenzen und weiterführende Informationen\".*| <sup.*?</sup>|&#160;<sup.*?</sup></sup.>|<sup.*?</sup>|<p><i><span id=Quellen>.*|<p>.*?Quellen:</i>.*|<a[^>]*?><\\/a>|<table><tbody><tr><th>Dialektausdrücke:</th></tr><tr><td><div id=Vorlage_Uberarbeiten.*|<div id=Vorlage_Uberarbeiten.*| style=\".*?\"| style=[^ >]*| id=\".*?\"| id=[^ >]*" ""  | replaceRE "<table.*?>" "<table>"  | replaceRE "<th.*?>" "<th>" | replaceRE "<td.*?>" "<td>" | replaceRE "<p.*?>" "<p>" | replaceRE "<div></div>" "" }}

                <!-- Remove table "ist eine flektierte Form von". -->
                {{ $body = $body | replaceRE "<div><table><tbody>.*? ist eine flektierte Form von .*" "" }}

                <!-- Clean up whitespaces. -->
                {{ $body = $body | replaceRE "\\[([0-9]+), ([0-9]+)\\]" "[$1,&#160;$2]"  | replaceRE "#8206;" "&#160;" | replaceRE "(&#160;)+" "&#160;" | replaceRE "&#160; " "&#160;" | replaceRE "&#160;([;,.])" "$1" | replaceRE "\\s+" " " | replaceRE "<div[^>]*>&#160;</div>" "" }}

                <!-- Correct image source links. -->
                {{ $body = $body | replaceRE "src=\"(/w/extensions.*?)\"" "src=\"https://wiktionary.org$1\"" | replaceRE "src=(/w/extensions[^ ]*?)" "src=https://wiktionary.org$1" }}

                <!-- Insert the entry for the basic form. -->
                {{ if eq $header "Grammatische Merkmale" }}
                    {{ with findRE "<b>(.*?)</b>" $body }}
                        {{ $bf := index . 0 | replaceRE ".*<b>|</b>" "" }}
                        {{ if eq $num_wc 1 }}<!-- only if first entry -->
                            {{ $basic_form = $bf }}
                        {{ end }}

                        {{ $basic := partial "functions/get-word-info.html" $bf }}
                        <!-- TODO check here and above if it worked, get basic word instead if not -->

                        {{ with index $basic.word_classes 0 }}
                            <!-- Add all word classes of the basic form. -->
                            {{ $word_classes = $word_classes | append . }}
                        {{ else }}
                            {{ errorf "The word '%s' does not have any word classes: %s" $word $basic }}
                        {{ end }}

                        <!-- Close the bracket. -->
                        {{ $body = $body | replaceRE "</ul>.*" (print "</ul>" $basic.html "</div>") }}
                    {{ end }}
                {{ end }}

                {{ $html_item := "" }}
                {{ with $body }}{{ with $header }}
                    <!-- Correct false plurals. -->
                    {{ $lines := len (findRE "</dd>" $body) }}
                    {{ if lt $lines 2 }}
                        {{ $header = index $singular_map $header | default $header }}
                    {{ end }}

                    <!-- Translate the header. -->
                    {{ $header = print "<h4><span lang=de class=de>" $header "</span><br><span lang=en class=\"en trans\">" (title (i18n $header)) "</span></h4>" }}

                    <!-- If there is audio in the body, play the first one when clicking on the header. -->
                    {{ if in $header "Aussprache" }}
                        {{ with index (findRE "audio=([^ >]*)>" $body) 0 }}
                            {{ $header = replaceRE "<h4>(.*?)</h4>" (print "<h4 audio=" (replaceRE "audio=|>" "" .) " class=audio-available>$1</h4>") $header }}
                        {{ end }}
                    {{ end }}

                    <!-- Small (or very important) entries are shown right away (non-collapsible). -->
                    {{ $length := len (replaceRE "<[^>]*>" "" $body) }}
                    {{ if or (and (lt $length 100) (lt $lines 3)) (in $header "Grammatische Merkmale")}}
                        {{ $html_item = print "<div class=\"ui-corner-all custom-corners\"><div class=\"ui-bar ui-bar-a\">" $header "</div><div class=\"ui-body ui-body-a\">" $body "</div></div>" }}
                    {{ else }}
                        {{ $html_item = print "<div data-role=collapsible>" $header $body "</div>" }}
                    {{ end }}

                    <!-- Add the item. -->
                    {{ $html_wc = print $html_wc $html_item }}

                {{ end }}{{ end }}<!-- end with $header, with $body  -->
            {{ end }}<!-- end range over items -->

            <!-- Wrap in collapsible div. -->
            {{ $html = print $html "<div data-role=collapsible" }}
            {{ if eq $num_wc 1 }}
                <!-- Expand the first. -->
                {{ $html = print $html " data-collapsed=false" }}
            {{ end }}
            {{ $html = print $html "><h3>" $html_wc_name "</h3>" $html_wc "</div>" }}


        {{ end }}{{ end }}<!-- end of: Analyse each word classes entry. -->
    {{ end }}{{ end }}<!-- end of: Analyse the German entry. -->

    <!-- Set basic form to word itself if it was not set. -->
    {{ $basic_form = $basic_form | default $word }}

    <!-- Remove duplicate elements. -->
    {{ $word_classes = uniq $word_classes }}

    <!-- Cache the result. -->
    {{ with $html }}
        {{ $cache_html := . | resources.FromString (print "wiktionary/" $word "_popup.html") | minify }}
        {{ $cache_data := dict "audio" $audio "word_classes" $word_classes "basic_form" $basic_form | jsonify | resources.FromString (print "wiktionary/" $word "_data.html") | minify }}

        {{ $html = $cache_html.Content }}
        {{ $data := $cache_data.Content }}
    {{ end }}

{{ end }}<!-- end of: Extract cache or not. -->

{{ return dict "html" $html "audio" $audio "word_classes" $word_classes "basic_form" $basic_form }}