
</div><!-- end of div.course-mainbar.lecture-content -->

{{ with .Page.Params.Audio }}

<div class='lecture-attachment lecture-attachment-type-audio' id="lecture-attachment-22310525">
    <div class="attachment-data"></div>
    <div class="audioloader" data-audioloader="AttachmentDrop" data-audioloader-name="{{ index (last 1 (split . "/")) 0 }}" data-audioloader-type="audio/mpeg" data-audioloader-url="{{ . }}">
</div>
{{ end }}

<!-- Comments -->



<div id='empty_box'></div>
<!-- Scroll to current lecture link position in sidebar -->

</div>

<!-- No lecture footer in the new redesign -->


</body>
</html>