{{ $html   := "" }}
{{ $popups := "<p class=\"disclaimer\">Some content on this page was extracted from <a href=\"https://de.wiktionary.org/wiki/Wiktionary:Hauptseite\" target=\"_blank\">Wiktionary</a>.</p>" }}

{{ $input  := replace . "<br>" "<br> " }}
{{ $input   = replace $input "</p>" "</p> " }}

{{/* $sentence_start := true */}}
{{ $i := 0 }}
{{ range split $input " " }}
    {{ $word := . | replaceRE "<.*?>|[^A-Za-zöäüßÖÄÜ-]" "" }}

    {{ $info := partial "functions/get_word_info.html" $word }}
    {{/* if $sentence_start }}
        {{ $info = partial "functions/get_word_info.html" (lower $word) }}
    {{ end */}}

    {{ $pre  := . | replaceRE (print $word ".*") "" }}
    {{ $post := . | replaceRE (print ".*" $word) "" }}

    {{ $html = print $html $pre "<a href=\"#word-" $i "\" data-rel=\"popup\" class=\"word-info audio-available ui-btn-inline " }}
    {{ with $info.kinds }}
        {{  $html = print  $html (delimit $info.kinds " ") }}
    {{ end }}
    {{ $html = print $html "\" " }}
    {{ with $info.audio }}
        {{ $html = print $html "audio=\"" (index . 0) "\"" }}
    {{ end }}
    {{ $html = print $html "data-transition=\"pop\">"  $word "</a>" $post " " }}

    {{ $popups = print $popups "<div data-role=\"popup\" id=\"word-" $i "\"><a href=\"#\" data-rel=\"back\" class=\"ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right\">Schließen</a>"  $info.html "</div>" }}


    <a href="#popupNested" data-rel="popup" class="word-info audio-available" audio="https://upload.wikimedia.org/wikipedia/commons/3/39/LL-Q188_%28deu%29-Sebastian_Wallroth-Mannes.wav" data-transition="pop">Mannes</a>

<div data-role="popup" id="popupNested" data-overlay-theme="a">
	<h3>Mannes</h3>
	<p>Aussprache (IPA): [ˈmanəs]</p>
	<h4>Grammatische Merkmale</h4>
	<ul>
	   <li>Genitiv Singular des Substantivs <strong>Mann</strong></li>
	</ul>
	<h2>Mann</h2>

<div data-role="collapsibleset" data-theme="none" data-content-theme="a" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
	<div data-role="collapsible">
	<h2>Substantiv</h2>
	<p>Aussprache (IPA): [man]</p>
		<div data-role="collapsible">
			<h3>Bedeutungen</h3>
				<p>[1]erwachsener, männlicher Mensch<br>[2]<em>verkürzt für:</em> Ehemann<br>[3]<em>im militärischen, seemännischen und ähnlichen Sprachgebrauch mit Formen wie ›zwei Mann‹:</em> Zahlklassifikator <br>[4]<em>kein Plural, als Anrede beziehungsweise wie eine Interjektion:</em> Ausruf des Erstaunens oder der Verärgerung<br>[5]<em>Plural 2</em>: Mitglied einer Anhängerschaft, Gefolgschaft von jemandem<br>[6]<em>kein Plural, ersatzweise Leute/Volk:</em> einzelne Person<br></p>
		</div><!-- /collapsible -->
	</div><!-- /collapsible -->
</div><!-- /collapsible set -->
<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Schließen</a>
</div><!-- /popup -->

    {{/* $sentence_start = gt (len (findRE "[\\.\\?\\!]" .) ) 0 */}}
    {{ $i = add $i 1}}
{{ end }}



<!-- TODO: toggle show only one meaning -->

{{ return dict "html" $html "popups" $popups }}