<div class='course-sidebar lecture-page collapse navbar-collapse navbar-sidebar-collapse' id='courseSidebar'>

  {{ $depth := partial "functions/depth.html" . }}
  {{ $course := . }}
  {{ if eq $depth 3 }}
    {{ $course = .Parent }}
  {{ end }}
  {{ if eq $depth 4 }}
    {{ $course = .Parent.Parent }}
  {{ end }}

  {{ if lt $depth 4}}
  {{ if gt $depth 1 }}
    <img class='course-image' src='https://process.fs.teachablecdn.com/ADNupMnWyR7kCWRvm76Laz/resize=width:705/https://assets.teachablecdn.com/icons/default-course-image.png'/><!-- TODO course picture -->
  {{ end }}
  <h2>{{ partial "print-menu-title.html" $course }}</h2>
  {{ partial "progress.html" $course }}
  {{ end }}

  {{ if gt $depth 2 }}
  <h2>{{ partial "print-menu-title.html" . }}</h2>
  {{ partial "progress.html" . }}
  {{ end }}

  {{ if .IsPage }}

    {{ $de := . }}
    {{- with index (where .Translations "Lang" "de") 0 }}
      {{ $de = . }}
    {{ end }}

    <!-- Lecture list on courses page (enrolled user) -->
    {{- with $de.Parent -}}{{- with .Parent -}}

      {{ range .Sections }}
        {{ $trans := index (where .AllTranslations "Lang" $.Lang) 0 }}
        <div class='row lecture-sidebar' style='padding-bottom: 0;'>
          <div class='course-section' style='padding-left: 15px; margin-bottom: 0;clear: none;'>
            <div class='section-title' data-release-date="" data-days-until-dripped="" data-is-dripped-by-date="" data-course-id="482202" style=>
                <span class="section-lock">
                <i class="fa fa-lock"></i>&nbsp;
                </span>
                {{ partial "print-menu-title.html" $trans }}
            </div><!-- end of .section-title -->

            <ul class='section-list'>
            {{ range .Pages }}
              {{ $trans := index (where .AllTranslations "Lang" $.Lang) 0 }}
                <li data-lecture-id="8878606" data-lecture-url='{{ .Permalink }}' class='section-item incomplete'>
                <a class='item' data-no-turbolink='true' href='{{ $trans.Permalink }}' id='sidebar_link_8878606'>
                    <span class='status-container'>
                    <span class='status-icon'>
                        &nbsp;
                    </span>
                    </span>
                    <div class='title-container'>
                    {{ if .Params.audio }}
                    <span class="lecture-icon">
                        <i class="fa fa-volume-up"></i>
                    </span>
                    {{ else }}
                    <span class='lecture-icon'>
                        <i class='fa fa-file-text'></i>
                    </span>
                    {{ end }}
                    <span class='lecture-name'>
                        {{ partial "print-menu-title.html" $trans }}
                    </span>
                    </div>
                </a>
                </li>

            {{ end }}
            </ul>


        </div><!-- end of .course-section -->

      </div><!-- end of .row.lecture-sidebar -->

    {{ end }}<!-- end of .Sections -->

   {{ end }}{{ end }}<!-- end of .Parent.Parent -->

   {{ end }}<!-- end of .IsPage -->
</div><!-- end of #courseSidebar -->