{{- $type  := "" -}}
{{- $subtype  := "" -}}
{{- $title := "" -}}

{{- if eq "de" $.Page.Lang -}}
    {{- $subtype  = .Get 0 | default "" -}}
    {{- $title = .Get 1 | default $subtype | default "Ohne Titel" -}}

    {{ range $t, $subtypes := $.Site.Data.notice_types }}
        {{ if in $subtypes $subtype }}
            {{ $type = $t }}
        {{ end }}
    {{ end }}

{{- else -}}
    {{- $title = .Get 0 | default "MISSING TRANSLATION" -}}
{{- end -}}

</div><!-- ending div.main -->
<div class="notice {{ $type }} {{ $subtype }}">
    <div class=title>{{ $title }}</div>
    <div class=content>

    {{ $inner := $.Inner | markdownify }}
    <!-- Print Inner with proper paragraphs. -->
    {{- print "<p>" $inner "</p>" | replaceRE "\\s*\n\\s*" "</p><p>" | replaceRE "<p></p>" "" | safeHTML -}}

</div></div><div class=main><!-- starting div.main -->